In [1]:
import os
import pandas as pd
import numpy as np
import wget
pd.set_option('display.max_columns', 100)

In [2]:
# load all datasets
mortality = pd.read_csv('../data/raw/Morticd10_part2.csv', low_memory=False)
country_codes = pd.read_csv('../data/raw/country_codes.csv')
pop = pd.read_csv('../data/raw/pop.csv')

In [3]:
# rename column names for consistence
country_codes = country_codes.rename(columns={'country': 'Country', 'name': 'Country/Region'})

# in addition to using country code, add countries names to mortality data
mortality = pd.merge(left=mortality, right=country_codes, how='left', on=['Country'])

In [4]:
mortality.columns

Index(['Country', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex', 'Frmat',
       'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4', 'Country/Region'],
      dtype='object')

In [5]:
# reorder columns so that country name can be seen without scrolling further right
mortality = mortality[['Country', 'Country/Region', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex',
       'Frmat', 'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4',
       'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10',
       'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16',
       'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22',
       'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1',
       'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4']]

In [6]:
mortality.sample(7)

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
2555289,4070,Finland,NaN,NaN,2016,103,G21,1,2,1,4,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
463524,2090,Canada,NaN,NaN,2010,104,C966,2,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1256710,3300,Philippines,NaN,NaN,2009,104,Q212,1,0,1,3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
1741557,4180,Italy,NaN,NaN,2007,104,B942,2,0,1,437,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2.0,9.0,19.0,42.0,78.0,109.0,93.0,62.0,17.0,2.0,0.0,0.0,0.0,0.0,0.0
904995,2370,Peru,NaN,NaN,2007,104,V019,1,0,1,23,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,4.0,4.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2368229,5020,Australia,NaN,NaN,2006,104,P912,1,0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2235795,4308,United Kingdom,NaN,NaN,2009,104,X040,1,0,1,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# mortality['Country/Region'] = mortality['Country/Region'].astype('category')
# mortality['Year'] = mortality['Year'].astype('category')
# mortality['Country'] = mortality['Country'].astype('category')

In [8]:
mortality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2557032 entries, 0 to 2557031
Data columns (total 40 columns):
 #   Column          Dtype
---  ------          -----
 0   Country         int64
 1   Country/Region  object
 2   Admin1          float64
 3   SubDiv          object
 4   Year            int64
 5   List            object
 6   Cause           object
 7   Sex             int64
 8   Frmat           int64
 9   IM_Frmat        int64
 10  Deaths1         int64
 11  Deaths2         float64
 12  Deaths3         float64
 13  Deaths4         float64
 14  Deaths5         float64
 15  Deaths6         float64
 16  Deaths7         float64
 17  Deaths8         float64
 18  Deaths9         float64
 19  Deaths10        float64
 20  Deaths11        float64
 21  Deaths12        float64
 22  Deaths13        float64
 23  Deaths14        float64
 24  Deaths15        float64
 25  Deaths16        float64
 26  Deaths17        float64
 27  Deaths18        float64
 28  Deaths19        float64
 29  Deaths20        float64
 30  Deaths21        float64
 31  Deaths22        float64
 32  Deaths23        float64
 33  Deaths24        float64
 34  Deaths25        float64
 35  Deaths26        float64
 36  IM_Deaths1      float64
 37  IM_Deaths2      float64
 38  IM_Deaths3      float64
 39  IM_Deaths4      float64
dtypes: float64(30), int64(6), object(4)
memory usage: 799.9+ MB

In [9]:
'''
code example for all types of diseases:
1001	A00-B99	Certain infectious and parasitic diseases
1002	A00	Cholera
1021	B50-B54	Malaria
'''

'\ncode example for all types of diseases:\n1001\tA00-B99\tCertain infectious and parasitic diseases\n1002\tA00\tCholera\n1021\tB50-B54\tMalaria\n'

In [10]:
'''
for all causes:
1000		All causes
AAA" refers to total deaths from all causes combined
CH00	A00-Y89	ALL CAUSES OF DEATH (Portugal - data for 2004-2005)
'''

'\nfor all causes:\n1000\t\tAll causes\nAAA" refers to total deaths from all causes combined\nCH00\tA00-Y89\tALL CAUSES OF DEATH (Portugal - data for 2004-2005)\n'

In [11]:
# check ['Cause']=='1000'
mortality[mortality['Cause']=='1000']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,Seychelles,NaN,NaN,2005,101,1000,1,7,8,386,10.0,0.0,NaN,NaN,NaN,4.0,NaN,7.0,NaN,20.0,NaN,25.0,NaN,55.0,NaN,54.0,NaN,75.0,NaN,136.0,NaN,NaN,NaN,NaN,0.0,10.0,NaN,NaN,NaN
1,1400,Seychelles,NaN,NaN,2005,101,1000,2,7,8,287,6.0,1.0,NaN,NaN,NaN,2.0,NaN,4.0,NaN,4.0,NaN,18.0,NaN,20.0,NaN,20.0,NaN,49.0,NaN,163.0,NaN,NaN,NaN,NaN,0.0,6.0,NaN,NaN,NaN
199,1400,Seychelles,NaN,NaN,2006,101,1000,1,7,8,357,5.0,2.0,NaN,NaN,NaN,4.0,NaN,7.0,NaN,9.0,NaN,28.0,NaN,40.0,NaN,52.0,NaN,77.0,NaN,133.0,NaN,NaN,NaN,NaN,0.0,5.0,NaN,NaN,NaN
200,1400,Seychelles,NaN,NaN,2006,101,1000,2,7,8,307,9.0,0.0,NaN,NaN,NaN,8.0,NaN,4.0,NaN,10.0,NaN,12.0,NaN,16.0,NaN,26.0,NaN,57.0,NaN,165.0,NaN,NaN,NaN,NaN,0.0,9.0,NaN,NaN,NaN
398,1400,Seychelles,NaN,NaN,2007,101,1000,1,7,8,345,12.0,1.0,NaN,NaN,NaN,3.0,NaN,11.0,NaN,19.0,NaN,32.0,NaN,45.0,NaN,46.0,NaN,75.0,NaN,101.0,NaN,NaN,NaN,NaN,0.0,12.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15272,4303,Ukraine,NaN,NaN,2014,101,1000,2,1,8,321625,1532.0,150.0,82.0,59.0,62.0,171.0,170.0,370.0,640.0,1442.0,2240.0,3066.0,4116.0,5141.0,8216.0,12318.0,17631.0,20281.0,34550.0,61243.0,56479.0,91639.0,NaN,NaN,27.0,1532.0,NaN,NaN,NaN
15470,4303,Ukraine,NaN,NaN,2015,101,1000,1,1,8,291561,1896.0,145.0,98.0,69.0,65.0,241.0,268.0,838.0,1880.0,3728.0,5942.0,8245.0,10374.0,12647.0,19146.0,26171.0,32563.0,32488.0,30759.0,47776.0,27164.0,28988.0,NaN,NaN,70.0,1896.0,NaN,NaN,NaN
15471,4303,Ukraine,NaN,NaN,2015,101,1000,2,1,8,303235,1422.0,132.0,70.0,53.0,30.0,178.0,186.0,316.0,557.0,1139.0,1933.0,2756.0,3734.0,4801.0,7418.0,11370.0,16447.0,21138.0,28569.0,60803.0,50093.0,90079.0,NaN,NaN,11.0,1422.0,NaN,NaN,NaN
15669,4303,Ukraine,NaN,NaN,2017,101,1000,1,1,8,281784,1608.0,133.0,87.0,77.0,60.0,214.0,254.0,633.0,1492.0,3091.0,5679.0,7706.0,10018.0,12408.0,17277.0,25946.0,31156.0,35464.0,26199.0,43174.0,29856.0,29184.0,NaN,NaN,68.0,1608.0,NaN,NaN,NaN
15670,4303,Ukraine,NaN,NaN,2017,101,1000,2,1,8,292339,1178.0,99.0,59.0,47.0,36.0,177.0,148.0,257.0,416.0,980.0,1781.0,2652.0,3596.0,4635.0,6685.0,10732.0,15243.0,22918.0,23718.0,56037.0,52655.0,88271.0,NaN,NaN,19.0,1178.0,NaN,NaN,NaN

In [12]:
# single out rows for deaths by all causes based on the codes provided earlier
mortality.loc[((mortality['Cause']=='1000') | (mortality['Cause']=='AAA')) | (mortality['Cause']=='CH00'), ['Cause']] = 'All_Causes'

In [13]:
mortality[mortality['Cause']=='All_Causes']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,Seychelles,NaN,NaN,2005,101,All_Causes,1,7,8,386,10.0,0.0,NaN,NaN,NaN,4.0,NaN,7.0,NaN,20.0,NaN,25.0,NaN,55.0,NaN,54.0,NaN,75.0,NaN,136.0,NaN,NaN,NaN,NaN,0.0,10.0,NaN,NaN,NaN
1,1400,Seychelles,NaN,NaN,2005,101,All_Causes,2,7,8,287,6.0,1.0,NaN,NaN,NaN,2.0,NaN,4.0,NaN,4.0,NaN,18.0,NaN,20.0,NaN,20.0,NaN,49.0,NaN,163.0,NaN,NaN,NaN,NaN,0.0,6.0,NaN,NaN,NaN
199,1400,Seychelles,NaN,NaN,2006,101,All_Causes,1,7,8,357,5.0,2.0,NaN,NaN,NaN,4.0,NaN,7.0,NaN,9.0,NaN,28.0,NaN,40.0,NaN,52.0,NaN,77.0,NaN,133.0,NaN,NaN,NaN,NaN,0.0,5.0,NaN,NaN,NaN
200,1400,Seychelles,NaN,NaN,2006,101,All_Causes,2,7,8,307,9.0,0.0,NaN,NaN,NaN,8.0,NaN,4.0,NaN,10.0,NaN,12.0,NaN,16.0,NaN,26.0,NaN,57.0,NaN,165.0,NaN,NaN,NaN,NaN,0.0,9.0,NaN,NaN,NaN
398,1400,Seychelles,NaN,NaN,2007,101,All_Causes,1,7,8,345,12.0,1.0,NaN,NaN,NaN,3.0,NaN,11.0,NaN,19.0,NaN,32.0,NaN,45.0,NaN,46.0,NaN,75.0,NaN,101.0,NaN,NaN,NaN,NaN,0.0,12.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553905,4070,Finland,NaN,NaN,2015,103,All_Causes,2,2,1,26418,49.0,7.0,NaN,NaN,NaN,8.0,14.0,31.0,32.0,41.0,71.0,77.0,107.0,236.0,405.0,590.0,965.0,1675.0,1658.0,2710.0,4190.0,13552.0,NaN,NaN,0.0,13.0,17.0,9.0,10.0
2554962,4070,Finland,NaN,NaN,2016,103,All_Causes,1,2,1,26947,60.0,11.0,NaN,NaN,NaN,15.0,16.0,53.0,116.0,154.0,173.0,235.0,285.0,473.0,866.0,1223.0,2035.0,3093.0,3166.0,3682.0,4201.0,7090.0,NaN,NaN,0.0,14.0,17.0,8.0,21.0
2554963,4070,Finland,NaN,NaN,2016,103,All_Causes,2,2,1,27017,43.0,12.0,NaN,NaN,NaN,14.0,14.0,28.0,53.0,52.0,63.0,78.0,105.0,220.0,374.0,589.0,1007.0,1557.0,1929.0,2755.0,4105.0,14019.0,NaN,NaN,0.0,19.0,7.0,5.0,12.0
2556027,4070,Finland,NaN,NaN,2017,103,All_Causes,1,2,1,26859,56.0,18.0,NaN,NaN,NaN,11.0,12.0,78.0,130.0,159.0,188.0,202.0,299.0,400.0,778.0,1134.0,1990.0,2942.0,3345.0,3705.0,4206.0,7206.0,NaN,NaN,0.0,12.0,18.0,12.0,14.0
2556028,4070,Finland,NaN,NaN,2017,103,All_Causes,2,2,1,26811,45.0,16.0,NaN,NaN,NaN,13.0,11.0,33.0,54.0,47.0,70.0,88.0,132.0,192.0,400.0,600.0,962.0,1609.0,1984.0,2762.0,4091.0,13702.0,NaN,NaN,0.0,13.0,9.0,12.0,11.0

In [14]:
# check Portugal data
mortality.loc[(mortality['Country']==4240), :]

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
1988514,4240,Portugal,NaN,NaN,2007,104,A020,1,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1988515,4240,Portugal,NaN,NaN,2007,104,A021,1,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1988516,4240,Portugal,NaN,NaN,2007,104,A029,1,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1988517,4240,Portugal,NaN,NaN,2007,104,A029,2,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1988518,4240,Portugal,NaN,NaN,2007,104,A047,1,2,8,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543127,4240,Portugal,NaN,NaN,2005,UE1,UE63,2,9,9,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543128,4240,Portugal,NaN,NaN,2005,UE1,UE64,1,9,9,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543129,4240,Portugal,NaN,NaN,2005,UE1,UE64,2,9,9,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543130,4240,Portugal,NaN,NaN,2005,UE1,UE65,1,9,9,682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543131,4240,Portugal,NaN,NaN,2005,UE1,UE65,2,9,9,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# check Portugal data
mortality[(mortality['Country']==4240)]['Year'].unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2005], dtype=int64)

In [16]:
mortality[(mortality['Country']==4240) & (mortality['Year']==2017)]

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
2015500,4240,Portugal,NaN,NaN,2017,104,A029,1,0,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015501,4240,Portugal,NaN,NaN,2017,104,A043,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015502,4240,Portugal,NaN,NaN,2017,104,A044,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015503,4240,Portugal,NaN,NaN,2017,104,A047,1,0,1,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,8.0,1.0,9.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
2015504,4240,Portugal,NaN,NaN,2017,104,A047,2,0,1,59,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,2.0,5.0,19.0,13.0,11.0,5.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018599,4240,Portugal,NaN,NaN,2017,104,Y86,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2018600,4240,Portugal,NaN,NaN,2017,104,Y872,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018601,4240,Portugal,NaN,NaN,2017,104,Y883,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018602,4240,Portugal,NaN,NaN,2017,104,Y899,1,0,1,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,1.0,3.0,2.0,2.0,5.0,7.0,2.0,8.0,5.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
2018603,4240,Portugal,NaN,NaN,2017,104,Y899,2,0,1,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,7.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# number of countries for each year
for i in list(mortality['Year'].unique()):
    print(i, len(mortality[mortality['Year']==i]['Country'].unique()))

2005 106
2006 109
2007 109
2008 115
2009 120
2010 115
2011 114
2012 116
2013 114
2014 113
2015 102
2017 61
2016 88
2018 13

- We will pick year 2015 because it is relatively latest and a good number of countries has data available.

In [18]:
# fill NaN with 0 for using functions like sum()
for i in mortality.columns[10:]:
    mortality[i] = mortality[i].fillna(0)
    mortality[i] = mortality[i].astype('int')

In [19]:
mortality

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,Seychelles,NaN,NaN,2005,101,All_Causes,1,7,8,386,10,0,0,0,0,4,0,7,0,20,0,25,0,55,0,54,0,75,0,136,0,0,0,0,0,10,0,0,0
1,1400,Seychelles,NaN,NaN,2005,101,All_Causes,2,7,8,287,6,1,0,0,0,2,0,4,0,4,0,18,0,20,0,20,0,49,0,163,0,0,0,0,0,6,0,0,0
2,1400,Seychelles,NaN,NaN,2005,101,1001,1,7,8,29,0,0,0,0,0,0,0,0,0,2,0,1,0,2,0,5,0,6,0,13,0,0,0,0,0,0,0,0,0
3,1400,Seychelles,NaN,NaN,2005,101,1001,2,7,8,21,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,16,0,0,0,0,0,0,0,0,0
4,1400,Seychelles,NaN,NaN,2005,101,1002,1,7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2557027,4070,Finland,NaN,NaN,2017,103,Y86,1,2,1,39,0,0,0,0,0,1,0,1,0,1,1,0,3,1,2,2,5,6,6,2,4,4,0,0,0,0,0,0,0
2557028,4070,Finland,NaN,NaN,2017,103,Y86,2,2,1,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,2,0,3,3,9,0,0,0,0,0,0,0
2557029,4070,Finland,NaN,NaN,2017,103,Y87,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2557030,4070,Finland,NaN,NaN,2017,103,Y87,2,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2557031,4070,Finland,NaN,NaN,2017,103,Y89,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

# Deaths over completely all ages

In [20]:
# Deaths1 is Deaths at all ages excluding infant deaths

# calculate deaths over all age range including infant
mortality['Deaths_all_ages'] = 0

for i in mortality.columns[11:40]:
    mortality['Deaths_all_ages'] += mortality[i]

In [21]:
mortality['Deaths_all_ages_'] = 0
cols= ['Deaths1', 'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4']
for col in cols:
    mortality['Deaths_all_ages_'] += mortality[col]

In [22]:
mortality

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1400,Seychelles,NaN,NaN,2005,101,All_Causes,1,7,8,386,10,0,0,0,0,4,0,7,0,20,0,25,0,55,0,54,0,75,0,136,0,0,0,0,0,10,0,0,0,396,396
1,1400,Seychelles,NaN,NaN,2005,101,All_Causes,2,7,8,287,6,1,0,0,0,2,0,4,0,4,0,18,0,20,0,20,0,49,0,163,0,0,0,0,0,6,0,0,0,293,293
2,1400,Seychelles,NaN,NaN,2005,101,1001,1,7,8,29,0,0,0,0,0,0,0,0,0,2,0,1,0,2,0,5,0,6,0,13,0,0,0,0,0,0,0,0,0,29,29
3,1400,Seychelles,NaN,NaN,2005,101,1001,2,7,8,21,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,16,0,0,0,0,0,0,0,0,0,21,21
4,1400,Seychelles,NaN,NaN,2005,101,1002,1,7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2557027,4070,Finland,NaN,NaN,2017,103,Y86,1,2,1,39,0,0,0,0,0,1,0,1,0,1,1,0,3,1,2,2,5,6,6,2,4,4,0,0,0,0,0,0,0,39,39
2557028,4070,Finland,NaN,NaN,2017,103,Y86,2,2,1,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,2,0,3,3,9,0,0,0,0,0,0,0,20,20
2557029,4070,Finland,NaN,NaN,2017,103,Y87,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,2,2
2557030,4070,Finland,NaN,NaN,2017,103,Y87,2,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,2,2
2557031,4070,Finland,NaN,NaN,2017,103,Y89,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1

In [23]:
mortality[(mortality['Deaths_all_ages'])!=(mortality['Deaths_all_ages_'])]

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
4525,4008,Andorra,NaN,NaN,2011,101,All_Causes,1,9,9,156,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,156
4526,4008,Andorra,NaN,NaN,2011,101,All_Causes,2,9,9,119,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,119
4577,4008,Andorra,NaN,NaN,2011,101,1026,1,9,9,63,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,63
4578,4008,Andorra,NaN,NaN,2011,101,1026,2,9,9,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22
4579,4008,Andorra,NaN,NaN,2011,101,1027,1,9,9,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543127,4240,Portugal,NaN,NaN,2005,UE1,UE63,2,9,9,218,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,218
2543128,4240,Portugal,NaN,NaN,2005,UE1,UE64,1,9,9,115,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,115
2543129,4240,Portugal,NaN,NaN,2005,UE1,UE64,2,9,9,37,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37
2543130,4240,Portugal,NaN,NaN,2005,UE1,UE65,1,9,9,682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,682
2543131,4240,Portugal,NaN,NaN,2005,UE1,UE65,2,9,9,329,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,329

- There are 1000 rows that data in age groups are vacant but Deaths1 not. Therefore, we are going to sum Deaths1 and infant deaths data to get deaths covering completely all ages.

In [24]:
mortality.columns[11:40]

Index(['Deaths2', 'Deaths3', 'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7',
       'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13',
       'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19',
       'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25',
       'Deaths26', 'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [25]:
mortality.columns

Index(['Country', 'Country/Region', 'Admin1', 'SubDiv', 'Year', 'List',
       'Cause', 'Sex', 'Frmat', 'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4',
       'Deaths_all_ages', 'Deaths_all_ages_'],
      dtype='object')

# Respiratory Deaths

## 1. All but Portugal

In [26]:
'''
Diseases of the respiratory system:
list     Cause
1072	J00-J98	Diseases of the respiratory system
1073	J10-J11	Influenza
1074	J12-J18	Pneumonia
1075	J20-J22	Other acute lower respiratory infections
1076	J40-J47	Chronic lower respiratory diseases
1077	J00-J06, J30-J39, J60-J98	Remainder of diseases of the respiratory system
'''

'\nDiseases of the respiratory system:\nlist     Cause\n1072\tJ00-J98\tDiseases of the respiratory system\n1073\tJ10-J11\tInfluenza\n1074\tJ12-J18\tPneumonia\n1075\tJ20-J22\tOther acute lower respiratory infections\n1076\tJ40-J47\tChronic lower respiratory diseases\n1077\tJ00-J06, J30-J39, J60-J98\tRemainder of diseases of the respiratory system\n'

In [27]:
mortality[mortality['List']=='1072']

Empty DataFrame
Columns: [Country, Country/Region, Admin1, SubDiv, Year, List, Cause, Sex, Frmat, IM_Frmat, Deaths1, Deaths2, Deaths3, Deaths4, Deaths5, Deaths6, Deaths7, Deaths8, Deaths9, Deaths10, Deaths11, Deaths12, Deaths13, Deaths14, Deaths15, Deaths16, Deaths17, Deaths18, Deaths19, Deaths20, Deaths21, Deaths22, Deaths23, Deaths24, Deaths25, Deaths26, IM_Deaths1, IM_Deaths2, IM_Deaths3, IM_Deaths4, Deaths_all_ages, Deaths_all_ages_]
Index: []

- There are no rows that has List==1072 to give overall respiratory deaths. So we rely on J## data to sum up.

In [28]:
# sum up respiratory diseases not including Portugal, their Cause is J##
respiratory1 = mortality[mortality['Cause'].str.contains('J') & (mortality['Cause'].str.len()==3)]
respiratory1

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
16030,1060,Cape Verde,NaN,NaN,2011,103,J15,1,2,2,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,1,4,0,0,0,0,0,0,0,9,9
16031,1060,Cape Verde,NaN,NaN,2011,103,J15,2,2,2,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,3,4,0,0,0,0,0,0,0,9,9
16032,1060,Cape Verde,NaN,NaN,2011,103,J18,1,2,2,62,1,0,0,0,0,0,1,0,1,0,0,1,0,3,2,5,1,3,4,10,7,23,0,0,0,0,0,0,1,63,63
16033,1060,Cape Verde,NaN,NaN,2011,103,J18,2,2,2,46,2,0,0,0,0,0,1,2,0,1,0,0,1,1,0,1,0,3,3,7,11,13,0,0,0,0,0,0,2,48,48
16034,1060,Cape Verde,NaN,NaN,2011,103,J22,1,2,2,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556525,4070,Finland,NaN,NaN,2017,103,J93,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
2556526,4070,Finland,NaN,NaN,2017,103,J94,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
2556527,4070,Finland,NaN,NaN,2017,103,J96,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,2,2
2556528,4070,Finland,NaN,NaN,2017,103,J96,2,2,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,3,3
2556529,4070,Finland,NaN,NaN,2017,103,J98,2,2,1,7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,3,0,1,1,0,0,0,0,0,0,0,7,7

## 2. Portugal respiratory deaths

In [29]:
'''
Portugal - data for 2004-2005:
Cause
CH10	J00-J99	DISEASES OF THE RESPIRATORY SYSTEM
UE38	J10-J11	Influenza
UE39	J12-J18	Pneumonia
UE40	J40-J47	Chronic lower respiratory diseases
UE41	J45-J46	of which asthma
'''

'\nPortugal - data for 2004-2005:\nCause\nCH10\tJ00-J99\tDISEASES OF THE RESPIRATORY SYSTEM\nUE38\tJ10-J11\tInfluenza\nUE39\tJ12-J18\tPneumonia\nUE40\tJ40-J47\tChronic lower respiratory diseases\nUE41\tJ45-J46\tof which asthma\n'

In [30]:
# examine Protugal
df = mortality[mortality['Country/Region']=='Portugal']
mask = (df['Cause']=='CH10') | (df['Cause']=='UE38') | (df['Cause']=='EU39') | (df['Cause']=='UE40') | (df['Cause']=='UE41')
df[mask]

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2543077,4240,Portugal,NaN,NaN,2005,UE1,CH10,1,9,9,6139,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6139
2543078,4240,Portugal,NaN,NaN,2005,UE1,CH10,2,9,9,5160,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5160
2543079,4240,Portugal,NaN,NaN,2005,UE1,UE38,1,9,9,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
2543080,4240,Portugal,NaN,NaN,2005,UE1,UE38,2,9,9,31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31
2543083,4240,Portugal,NaN,NaN,2005,UE1,UE40,1,9,9,1887,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1887
2543084,4240,Portugal,NaN,NaN,2005,UE1,UE40,2,9,9,945,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,945
2543085,4240,Portugal,NaN,NaN,2005,UE1,UE41,1,9,9,39,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39
2543086,4240,Portugal,NaN,NaN,2005,UE1,UE41,2,9,9,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73

- For Deaths1, CH10 is greater than UE38+ UE39+ UE40+ UE41, so we will use CH10 as overall respiratory deaths

In [31]:
respiratory2 = df[df['Cause']=='CH10']

In [32]:
respiratory2

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2543077,4240,Portugal,NaN,NaN,2005,UE1,CH10,1,9,9,6139,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6139
2543078,4240,Portugal,NaN,NaN,2005,UE1,CH10,2,9,9,5160,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5160

In [33]:
respiratory = pd.concat([respiratory1, respiratory2])
respiratory = respiratory.reset_index(drop=True)

In [34]:
respiratory

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1060,Cape Verde,NaN,NaN,2011,103,J15,1,2,2,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,1,4,0,0,0,0,0,0,0,9,9
1,1060,Cape Verde,NaN,NaN,2011,103,J15,2,2,2,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,3,4,0,0,0,0,0,0,0,9,9
2,1060,Cape Verde,NaN,NaN,2011,103,J18,1,2,2,62,1,0,0,0,0,0,1,0,1,0,0,1,0,3,2,5,1,3,4,10,7,23,0,0,0,0,0,0,1,63,63
3,1060,Cape Verde,NaN,NaN,2011,103,J18,2,2,2,46,2,0,0,0,0,0,1,2,0,1,0,0,1,1,0,1,0,3,3,7,11,13,0,0,0,0,0,0,2,48,48
4,1060,Cape Verde,NaN,NaN,2011,103,J22,1,2,2,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29834,4070,Finland,NaN,NaN,2017,103,J96,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,2,2
29835,4070,Finland,NaN,NaN,2017,103,J96,2,2,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,3,3
29836,4070,Finland,NaN,NaN,2017,103,J98,2,2,1,7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,3,0,1,1,0,0,0,0,0,0,0,7,7
29837,4240,Portugal,NaN,NaN,2005,UE1,CH10,1,9,9,6139,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6139
29838,4240,Portugal,NaN,NaN,2005,UE1,CH10,2,9,9,5160,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5160

In [35]:
respiratory = respiratory.sort_values(by=['Country/Region', 'Year', 'Sex'])

In [36]:
dic = {}
for i in mortality.columns[10:]:
    dic[i] = 'sum'
respiratory = respiratory.groupby(['Country', 'Country/Region', 'Year', 'Sex']).agg(dic).reset_index()

In [37]:
respiratory

,Country,Country/Region,Year,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1060,Cape Verde,2011,1,113,8,2,0,0,0,0,2,0,1,0,0,2,1,5,4,6,3,7,7,17,13,35,0,0,0,0,0,1,7,121,121
1,1060,Cape Verde,2011,2,120,7,1,0,0,0,0,1,3,0,2,0,1,2,2,2,3,1,6,15,16,24,34,0,0,0,0,0,0,7,127,127
2,1060,Cape Verde,2012,1,149,6,4,0,0,0,1,2,1,2,3,1,2,3,5,5,5,7,102,0,0,0,0,0,0,0,6,0,0,0,155,155
3,1060,Cape Verde,2012,2,111,2,5,0,0,0,1,2,0,1,2,2,2,3,0,2,2,0,87,0,0,0,0,0,0,0,2,0,0,0,113,113
4,1125,Egypt,2005,1,16473,4347,1219,0,0,0,247,113,126,155,127,134,188,307,473,740,894,1119,1396,1650,1432,1036,770,0,0,0,4347,0,0,0,20820,20820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523,5150,New Zealand,2015,1,103,0,0,0,0,0,0,0,1,0,0,1,2,0,2,1,1,4,5,11,14,19,20,19,3,0,0,0,0,0,103,103
2524,5150,New Zealand,2015,2,127,0,1,0,0,0,0,0,0,0,1,1,0,2,0,2,2,1,9,10,13,18,21,30,16,0,0,0,0,0,127,127
2525,5198,Solomon Islands,2017,1,2,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
2526,5198,Solomon Islands,2018,1,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,3,3
2527,5198,Solomon Islands,2018,2,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3,3

In [38]:
dic2 = {}
for i in respiratory.columns[3:]:
    dic2[i] = 'sum'
respiratory_all_sex = respiratory.groupby(['Country', 'Country/Region', 'Year']).agg(dic2).reset_index()
respiratory_all_sex

,Country,Country/Region,Year,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1060,Cape Verde,2011,3,233,15,3,0,0,0,0,3,3,1,2,0,3,3,7,6,9,4,13,22,33,37,69,0,0,0,0,0,1,14,248,248
1,1060,Cape Verde,2012,3,260,8,9,0,0,0,2,4,1,3,5,3,4,6,5,7,7,7,189,0,0,0,0,0,0,0,8,0,0,0,268,268
2,1125,Egypt,2005,3,31053,8611,2392,0,0,0,449,239,262,258,231,257,326,514,760,1265,1559,1924,2429,2948,2730,2088,1811,0,0,0,8611,0,0,0,39664,39664
3,1125,Egypt,2006,3,30456,8056,2204,0,0,0,415,260,240,278,265,250,323,467,740,1224,1696,1937,2483,2936,2649,2235,1798,0,0,0,8056,0,0,0,38512,38512
4,1125,Egypt,2007,3,32191,9066,2198,0,0,0,415,265,246,261,254,273,327,555,742,1308,1662,2044,2419,3017,2877,2292,1970,0,0,0,9066,0,0,0,41257,41257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,5150,New Zealand,2013,3,202,1,0,0,0,0,1,0,2,0,0,3,1,0,3,5,6,7,6,18,21,36,45,27,20,0,0,0,0,1,203,203
1262,5150,New Zealand,2014,3,233,3,0,0,0,1,0,1,0,0,0,2,3,6,5,4,5,8,15,19,21,38,46,29,27,0,0,0,0,3,236,236
1263,5150,New Zealand,2015,3,230,0,1,0,0,0,0,0,1,0,1,2,2,2,2,3,3,5,14,21,27,37,41,49,19,0,0,0,0,0,230,230
1264,5198,Solomon Islands,2017,1,2,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
1265,5198,Solomon Islands,2018,3,6,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,2,0,1,0,0,0,0,0,0,0,0,0,0,6,6

In [39]:
# add a column

In [40]:
respiratory_all_sex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           1266 non-null   int64
 1   Country/Region    1266 non-null   object
 2   Year              1266 non-null   int64
 3   Sex               1266 non-null   int64
 4   Deaths1           1266 non-null   int32
 5   Deaths2           1266 non-null   int32
 6   Deaths3           1266 non-null   int32
 7   Deaths4           1266 non-null   int32
 8   Deaths5           1266 non-null   int32
 9   Deaths6           1266 non-null   int32
 10  Deaths7           1266 non-null   int32
 11  Deaths8           1266 non-null   int32
 12  Deaths9           1266 non-null   int32
 13  Deaths10          1266 non-null   int32
 14  Deaths11          1266 non-null   int32
 15  Deaths12          1266 non-null   int32
 16  Deaths13          1266 non-null   int32
 17  Deaths14          1266 non-null   int32
 18  Deaths15          1266 non-null   int32
 19  Deaths16          1266 non-null   int32
 20  Deaths17          1266 non-null   int32
 21  Deaths18          1266 non-null   int32
 22  Deaths19          1266 non-null   int32
 23  Deaths20          1266 non-null   int32
 24  Deaths21          1266 non-null   int32
 25  Deaths22          1266 non-null   int32
 26  Deaths23          1266 non-null   int32
 27  Deaths24          1266 non-null   int32
 28  Deaths25          1266 non-null   int32
 29  Deaths26          1266 non-null   int32
 30  IM_Deaths1        1266 non-null   int32
 31  IM_Deaths2        1266 non-null   int32
 32  IM_Deaths3        1266 non-null   int32
 33  IM_Deaths4        1266 non-null   int32
 34  Deaths_all_ages   1266 non-null   int64
 35  Deaths_all_ages_  1266 non-null   int64
dtypes: int32(30), int64(5), object(1)
memory usage: 207.8+ KB

In [41]:
mortality[mortality['Country/Region']=='Ukraine']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
13679,4303,Ukraine,NaN,NaN,2005,101,All_Causes,1,1,8,403440,2467,296,145,120,135,518,560,2037,4391,7089,10151,13108,20380,28128,33967,34255,36514,61244,45515,54476,28718,19087,0,0,139,2467,0,0,0,405907,405907
13680,4303,Ukraine,NaN,NaN,2005,101,All_Causes,2,1,8,378521,1792,213,119,76,75,301,320,771,1215,2147,3023,3996,6230,9041,12514,16239,19568,41810,42045,75358,70688,70934,0,0,46,1792,0,0,0,380313,380313
13681,4303,Ukraine,NaN,NaN,2005,101,1001,1,1,8,13715,113,27,14,3,11,11,9,50,303,1212,1691,1856,2165,2151,1740,1038,548,444,155,117,40,11,0,0,6,113,0,0,0,13828,13828
13682,4303,Ukraine,NaN,NaN,2005,101,1001,2,1,8,3530,86,24,12,6,5,18,9,27,171,451,523,506,478,325,256,153,115,115,87,107,41,15,0,0,0,86,0,0,0,3616,3616
13683,4303,Ukraine,NaN,NaN,2005,101,1002,1,1,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15863,4303,Ukraine,NaN,NaN,2017,101,1101,2,1,8,1161,0,0,0,0,0,2,8,35,43,71,88,66,83,77,83,98,72,85,93,105,82,69,0,0,1,0,0,0,0,1161,1161
15864,4303,Ukraine,NaN,NaN,2017,101,1102,1,1,8,1160,6,0,1,1,0,1,2,13,36,98,126,149,150,138,146,116,67,48,20,27,12,3,0,0,0,6,0,0,0,1166,1166
15865,4303,Ukraine,NaN,NaN,2017,101,1102,2,1,8,493,3,0,1,1,3,3,4,12,15,25,35,43,49,40,42,45,43,28,20,43,21,17,0,0,0,3,0,0,0,496,496
15866,4303,Ukraine,NaN,NaN,2017,101,1103,1,1,8,7551,66,18,10,7,5,19,33,121,268,459,633,724,776,816,831,962,694,464,193,233,132,82,0,0,5,66,0,0,0,7617,7617
15867,4303,Ukraine,NaN,NaN,2017,101,1103,2,1,8,1768,40,17,8,4,1,8,14,26,28,56,92,105,129,127,142,160,131,126,99,177,135,142,0,0,1,40,0,0,0,1808,1808

In [42]:
'''country = mortality[['Country', 'Country/Region']]
resp = pd.merge(left=respiratory, right=country, how='left', on='Country/Region')
resp'''

"country = mortality[['Country', 'Country/Region']]\nresp = pd.merge(left=respiratory, right=country, how='left', on='Country/Region')\nresp"

In [43]:
'''
def groupbyfunc(df, groupby_cols, agg_cols):
    cols = groupby_cols.append(agg_cols)
    for i in df.columns[]:
        if i 
agg_cols = []
for k in dic:
    agg_cols.append(k)
groupby_cols = ['Country/Region', 'Year', 'Sex']

cols = []
cols.extend(groupby_cols)
cols.extend(agg_cols)
print(cols)

cols_ = [i for i in list(mortality.columns) if i not in cols]
cols_
'''

"\ndef groupbyfunc(df, groupby_cols, agg_cols):\n    cols = groupby_cols.append(agg_cols)\n    for i in df.columns[]:\n        if i \nagg_cols = []\nfor k in dic:\n    agg_cols.append(k)\ngroupby_cols = ['Country/Region', 'Year', 'Sex']\n\ncols = []\ncols.extend(groupby_cols)\ncols.extend(agg_cols)\nprint(cols)\n\ncols_ = [i for i in list(mortality.columns) if i not in cols]\ncols_\n"

In [44]:
mortality

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1400,Seychelles,NaN,NaN,2005,101,All_Causes,1,7,8,386,10,0,0,0,0,4,0,7,0,20,0,25,0,55,0,54,0,75,0,136,0,0,0,0,0,10,0,0,0,396,396
1,1400,Seychelles,NaN,NaN,2005,101,All_Causes,2,7,8,287,6,1,0,0,0,2,0,4,0,4,0,18,0,20,0,20,0,49,0,163,0,0,0,0,0,6,0,0,0,293,293
2,1400,Seychelles,NaN,NaN,2005,101,1001,1,7,8,29,0,0,0,0,0,0,0,0,0,2,0,1,0,2,0,5,0,6,0,13,0,0,0,0,0,0,0,0,0,29,29
3,1400,Seychelles,NaN,NaN,2005,101,1001,2,7,8,21,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,16,0,0,0,0,0,0,0,0,0,21,21
4,1400,Seychelles,NaN,NaN,2005,101,1002,1,7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2557027,4070,Finland,NaN,NaN,2017,103,Y86,1,2,1,39,0,0,0,0,0,1,0,1,0,1,1,0,3,1,2,2,5,6,6,2,4,4,0,0,0,0,0,0,0,39,39
2557028,4070,Finland,NaN,NaN,2017,103,Y86,2,2,1,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,2,0,3,3,9,0,0,0,0,0,0,0,20,20
2557029,4070,Finland,NaN,NaN,2017,103,Y87,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,2,2
2557030,4070,Finland,NaN,NaN,2017,103,Y87,2,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,2,2
2557031,4070,Finland,NaN,NaN,2017,103,Y89,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1

In [45]:
# vertically combine respiratory data
mortality = pd.concat([mortality, respiratory], ignore_index=True)

# check if concated
'Respiratory' in mortality['Cause'].unique()

False

In [46]:
mortality

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,1400,Seychelles,NaN,NaN,2005,101,All_Causes,1,7.0,8.0,386,10,0,0,0,0,4,0,7,0,20,0,25,0,55,0,54,0,75,0,136,0,0,0,0,0,10,0,0,0,396,396
1,1400,Seychelles,NaN,NaN,2005,101,All_Causes,2,7.0,8.0,287,6,1,0,0,0,2,0,4,0,4,0,18,0,20,0,20,0,49,0,163,0,0,0,0,0,6,0,0,0,293,293
2,1400,Seychelles,NaN,NaN,2005,101,1001,1,7.0,8.0,29,0,0,0,0,0,0,0,0,0,2,0,1,0,2,0,5,0,6,0,13,0,0,0,0,0,0,0,0,0,29,29
3,1400,Seychelles,NaN,NaN,2005,101,1001,2,7.0,8.0,21,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,1,0,16,0,0,0,0,0,0,0,0,0,21,21
4,1400,Seychelles,NaN,NaN,2005,101,1002,1,7.0,8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559555,5150,New Zealand,NaN,NaN,2015,NaN,NaN,1,NaN,NaN,103,0,0,0,0,0,0,0,1,0,0,1,2,0,2,1,1,4,5,11,14,19,20,19,3,0,0,0,0,0,103,103
2559556,5150,New Zealand,NaN,NaN,2015,NaN,NaN,2,NaN,NaN,127,0,1,0,0,0,0,0,0,0,1,1,0,2,0,2,2,1,9,10,13,18,21,30,16,0,0,0,0,0,127,127
2559557,5198,Solomon Islands,NaN,NaN,2017,NaN,NaN,1,NaN,NaN,2,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
2559558,5198,Solomon Islands,NaN,NaN,2018,NaN,NaN,1,NaN,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,3,3
2559559,5198,Solomon Islands,NaN,NaN,2018,NaN,NaN,2,NaN,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3,3

# Flu

In [47]:
'''
flu or Inlflenza under Respiratory category:

UE38	J10-J11	Influenza (Portugal 2004-2005)
1073	J10-J11	Influenza
'''

'\nflu or Inlflenza under Respiratory category:\n\nUE38\tJ10-J11\tInfluenza (Portugal 2004-2005)\n1073\tJ10-J11\tInfluenza\n'

In [48]:
flu = mortality[(mortality['Cause']=='J10')|(mortality['Cause']=='J11')]
flu

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
17257,1125,Egypt,NaN,NaN,2005,103,J10,1,2.0,8.0,3,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,5,5
17258,1125,Egypt,NaN,NaN,2005,103,J10,2,2.0,8.0,4,1,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,5,5
17259,1125,Egypt,NaN,NaN,2005,103,J11,1,2.0,8.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
17260,1125,Egypt,NaN,NaN,2005,103,J11,2,2.0,8.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,2
19009,1125,Egypt,NaN,NaN,2006,103,J10,1,2.0,8.0,2,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2555432,4070,Finland,NaN,NaN,2016,103,J11,2,2.0,1.0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,9,0,0,0,0,0,0,0,14,14
2556481,4070,Finland,NaN,NaN,2017,103,J10,1,2.0,1.0,76,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,5,3,6,15,12,34,0,0,0,0,0,0,0,76,76
2556482,4070,Finland,NaN,NaN,2017,103,J10,2,2.0,1.0,79,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,5,5,5,17,45,0,0,0,0,0,0,0,79,79
2556483,4070,Finland,NaN,NaN,2017,103,J11,1,2.0,1.0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,1,3,0,0,0,0,0,0,0,7,7
2556484,4070,Finland,NaN,NaN,2017,103,J11,2,2.0,1.0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,4,15,0,0,0,0,0,0,0,22,22

In [49]:
dic = {}
for i in flu.columns[10:]:
    dic[i] = 'sum'
flu = flu.groupby(['Country/Region', 'Year', 'Sex']).agg(dic).reset_index()
flu

,Country/Region,Year,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,Armenia,2006,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
1,Armenia,2009,1,4,0,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4
2,Armenia,2012,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1
3,Armenia,2013,1,5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,5,5
4,Armenia,2013,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Uzbekistan,2014,2,110,50,15,5,2,4,5,3,3,2,1,0,0,2,1,0,0,3,2,5,3,2,2,0,0,0,50,0,0,0,160,160
309,Uzbekistan,2015,1,92,30,18,7,2,4,6,2,2,2,1,0,2,1,0,0,2,2,3,3,2,1,2,0,0,0,0,0,0,30,122,122
310,Uzbekistan,2015,2,97,34,21,6,2,1,5,3,1,1,0,0,0,0,0,2,2,4,2,3,7,1,2,0,0,0,0,0,1,33,131,131
311,Uzbekistan,2016,1,38,17,8,2,0,1,1,0,1,1,0,1,1,1,0,0,1,0,0,0,2,1,0,0,0,0,0,0,2,15,55,55
312,Uzbekistan,2016,2,37,16,5,1,1,1,3,3,2,0,1,0,0,0,0,1,0,2,1,0,0,0,0,0,0,0,0,0,1,15,53,53

In [50]:
# add column Cause to flu
flu['Cause'] = 'Flu'

In [51]:
flu

,Country/Region,Year,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_,Cause
0,Armenia,2006,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,Flu
1,Armenia,2009,1,4,0,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,Flu
2,Armenia,2012,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,Flu
3,Armenia,2013,1,5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,5,5,Flu
4,Armenia,2013,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,Flu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Uzbekistan,2014,2,110,50,15,5,2,4,5,3,3,2,1,0,0,2,1,0,0,3,2,5,3,2,2,0,0,0,50,0,0,0,160,160,Flu
309,Uzbekistan,2015,1,92,30,18,7,2,4,6,2,2,2,1,0,2,1,0,0,2,2,3,3,2,1,2,0,0,0,0,0,0,30,122,122,Flu
310,Uzbekistan,2015,2,97,34,21,6,2,1,5,3,1,1,0,0,0,0,0,2,2,4,2,3,7,1,2,0,0,0,0,0,1,33,131,131,Flu
311,Uzbekistan,2016,1,38,17,8,2,0,1,1,0,1,1,0,1,1,1,0,0,1,0,0,0,2,1,0,0,0,0,0,0,2,15,55,55,Flu
312,Uzbekistan,2016,2,37,16,5,1,1,1,3,3,2,0,1,0,0,0,0,1,0,2,1,0,0,0,0,0,0,0,0,0,1,15,53,53,Flu

In [52]:
flu[flu['Country/Region']=='United States of America']

Empty DataFrame
Columns: [Country/Region, Year, Sex, Deaths1, Deaths2, Deaths3, Deaths4, Deaths5, Deaths6, Deaths7, Deaths8, Deaths9, Deaths10, Deaths11, Deaths12, Deaths13, Deaths14, Deaths15, Deaths16, Deaths17, Deaths18, Deaths19, Deaths20, Deaths21, Deaths22, Deaths23, Deaths24, Deaths25, Deaths26, IM_Deaths1, IM_Deaths2, IM_Deaths3, IM_Deaths4, Deaths_all_ages, Deaths_all_ages_, Cause]
Index: []

In [53]:
# vertically combine flu data after groupby
mortality = pd.concat([mortality, flu], ignore_index=True)

In [54]:
mortality[mortality['Cause']=='Flu']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2559560,NaN,Armenia,NaN,NaN,2006,NaN,Flu,1,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
2559561,NaN,Armenia,NaN,NaN,2009,NaN,Flu,1,NaN,NaN,4,0,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4
2559562,NaN,Armenia,NaN,NaN,2012,NaN,Flu,1,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1
2559563,NaN,Armenia,NaN,NaN,2013,NaN,Flu,1,NaN,NaN,5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,5,5
2559564,NaN,Armenia,NaN,NaN,2013,NaN,Flu,2,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559868,NaN,Uzbekistan,NaN,NaN,2014,NaN,Flu,2,NaN,NaN,110,50,15,5,2,4,5,3,3,2,1,0,0,2,1,0,0,3,2,5,3,2,2,0,0,0,50,0,0,0,160,160
2559869,NaN,Uzbekistan,NaN,NaN,2015,NaN,Flu,1,NaN,NaN,92,30,18,7,2,4,6,2,2,2,1,0,2,1,0,0,2,2,3,3,2,1,2,0,0,0,0,0,0,30,122,122
2559870,NaN,Uzbekistan,NaN,NaN,2015,NaN,Flu,2,NaN,NaN,97,34,21,6,2,1,5,3,1,1,0,0,0,0,0,2,2,4,2,3,7,1,2,0,0,0,0,0,1,33,131,131
2559871,NaN,Uzbekistan,NaN,NaN,2016,NaN,Flu,1,NaN,NaN,38,17,8,2,0,1,1,0,1,1,0,1,1,1,0,0,1,0,0,0,2,1,0,0,0,0,0,0,2,15,55,55
2559872,NaN,Uzbekistan,NaN,NaN,2016,NaN,Flu,2,NaN,NaN,37,16,5,1,1,1,3,3,2,0,1,0,0,0,0,1,0,2,1,0,0,0,0,0,0,0,0,0,1,15,53,53

In [55]:
mortality[mortality['Cause']=='Flu']['Country/Region'].unique()

array(['Armenia', 'Azerbaijan', 'Bahrain', 'Bosnia and Herzegovina',
       'Brunei Darussalam', 'Bulgaria', 'Egypt', 'Estonia', 'Finland',
       'Iceland', 'Iran (Islamic Republic of)', 'Iraq', 'Kazakhstan',
       'Latvia', 'Malaysia', 'Maldives', 'Montenegro',
       'Occupied Palestinian Territory', 'Philippines', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Saudi Arabia',
       'Serbia', 'Slovakia', 'Slovenia', 'South Africa',
       'Syrian Arab Republic', 'TFYR Macedonia', 'Tajikistan', 'Thailand',
       'Uzbekistan'], dtype=object)

- There are few number of countries having flu deaths data.

In [56]:
mortality = mortality.sort_values(['Country/Region', 'Year', 'Cause'])

In [57]:
mortality

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
4527,4008.0,Andorra,NaN,NaN,2011,101,1001,1,9.0,9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4528,4008.0,Andorra,NaN,NaN,2011,101,1001,2,9.0,9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4529,4008.0,Andorra,NaN,NaN,2011,101,1002,1,9.0,9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4530,4008.0,Andorra,NaN,NaN,2011,101,1002,2,9.0,9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4531,4008.0,Andorra,NaN,NaN,2011,101,1003,1,9.0,9.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498743,2455.0,Virgin Islands (USA),NaN,NaN,2017,104,X959,1,0.0,1.0,46,0,0,0,0,0,1,1,4,17,6,6,4,2,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,46,46
2498744,2455.0,Virgin Islands (USA),NaN,NaN,2017,104,X959,2,0.0,1.0,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
2498745,2455.0,Virgin Islands (USA),NaN,NaN,2017,104,X999,1,0.0,1.0,5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5
2498746,2455.0,Virgin Islands (USA),NaN,NaN,2017,104,Y833,1,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
2558077,2455.0,Virgin Islands (USA),NaN,NaN,2017,NaN,NaN,1,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1

In [58]:
dic = {}
for i in mortality.columns[10:]:
    dic[i] = 'sum'
temp = mortality.groupby(['Country/Region', 'Year', 'Cause']).agg(dic).reset_index()

In [59]:
temp

,Country/Region,Year,Cause,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
0,Andorra,2011,1001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andorra,2011,1002,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Andorra,2011,1003,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Andorra,2011,1004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Andorra,2011,1005,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648824,Virgin Islands (USA),2017,X749,4,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,4,4
1648825,Virgin Islands (USA),2017,X949,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
1648826,Virgin Islands (USA),2017,X959,48,0,0,0,0,0,1,1,4,19,6,6,4,2,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,48,48
1648827,Virgin Islands (USA),2017,X999,5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5
1648828,Virgin Islands (USA),2017,Y833,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1

In [60]:
# assign Sex to be 3 as both sex
temp['Sex'] = 3

In [61]:
mortality = pd.concat([mortality, temp], ignore_index=True)
mortality = mortality.sort_values(['Country/Region', 'Year', 'Cause'])

In [62]:
mortality[(mortality['Cause']=='Respiratory')]['Country/Region'].unique()

array([], dtype=object)

In [63]:
mortality[(mortality['Cause']=='Flu')]['Country/Region'].unique()

array(['Armenia', 'Azerbaijan', 'Bahrain', 'Bosnia and Herzegovina',
       'Brunei Darussalam', 'Bulgaria', 'Egypt', 'Estonia', 'Finland',
       'Iceland', 'Iran (Islamic Republic of)', 'Iraq', 'Kazakhstan',
       'Latvia', 'Malaysia', 'Maldives', 'Montenegro',
       'Occupied Palestinian Territory', 'Philippines', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Saudi Arabia',
       'Serbia', 'Slovakia', 'Slovenia', 'South Africa',
       'Syrian Arab Republic', 'TFYR Macedonia', 'Tajikistan', 'Thailand',
       'Uzbekistan'], dtype=object)

In [64]:
df = mortality[(mortality['Country/Region']=='Portugal') & (mortality['Year']==2005)].reset_index()

In [65]:
mortality_usa = mortality[mortality['Country/Region']=='United States of America']

In [66]:
mortality_usa

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2406547,2450.0,United States of America,NaN,NaN,2005,104,A020,1,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1
2406548,2450.0,United States of America,NaN,NaN,2005,104,A020,2,0.0,1.0,5,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,2,0,0,0,0,0,5,5
4113582,NaN,United States of America,NaN,NaN,2005,NaN,A020,3,NaN,NaN,6,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,2,0,0,0,0,0,6,6
2406549,2450.0,United States of America,NaN,NaN,2005,104,A021,1,0.0,1.0,9,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,2,2,1,0,1,0,1,0,0,0,0,0,0,0,9,9
2406550,2450.0,United States of America,NaN,NaN,2005,104,A021,2,0.0,1.0,11,0,0,0,0,0,0,0,1,0,2,0,0,0,0,0,0,1,0,1,2,4,0,0,0,0,0,0,0,0,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490287,2450.0,United States of America,NaN,NaN,2017,104,Y899,1,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1
2490288,2450.0,United States of America,NaN,NaN,2017,104,Y899,2,0.0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4162922,NaN,United States of America,NaN,NaN,2017,NaN,Y899,3,NaN,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,2,2
2490289,2450.0,United States of America,NaN,NaN,2017,NaN,NaN,1,NaN,NaN,3326,20,2,1,1,1,10,13,16,23,32,31,45,55,90,121,199,235,311,364,393,453,475,304,131,0,0,0,0,20,3346,3346
2490290,2450.0,United States of America,NaN,NaN,2017,NaN,NaN,2,NaN,NaN,3433,20,2,4,1,0,4,11,11,24,33,31,44,51,74,104,179,221,259,304,358,470,533,456,239,0,1,1,1,17,3453,3453

In [67]:
mortality_usa_year = mortality_usa.groupby(['Year']).agg(dic)

In [68]:
mortality_usa_year

,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2005,9798911,113811,7669,4981,3504,2891,11358,15072,54839,82166,78323,89487,125759,213601,317734,416830,510255,591653,689360,905122,1232482,1516325,1406681,959443,448544,1021,45428,14620,15034,38729,9912722,9912722
2006,9711851,114173,7382,4876,3458,2835,10954,13672,54979,84631,83637,88291,126103,206300,317277,423310,532550,593755,687972,873494,1191726,1479681,1409483,954099,446333,880,114173,0,0,0,9826024,9826024
2007,9702015,116640,7773,4717,3539,2817,10854,13759,53228,82803,83804,86645,123635,195080,311184,428077,530224,618961,700466,857694,1156988,1455785,1437954,961344,457240,804,116640,0,0,0,9818655,9818655
2008,9894624,112329,7886,4682,3591,2799,10024,12608,49654,79216,83195,86010,119545,186140,309871,436725,539137,646301,734306,873088,1150318,1465819,1491323,1006186,483319,552,112329,0,0,0,10006953,10006953
2009,9760054,105112,7045,4654,3533,2711,10209,12627,46274,75882,82853,87897,118464,181138,306322,445525,551722,663198,743870,861914,1100960,1412193,1477669,982873,474377,1032,41528,12898,13975,36711,9865166,9865166
2010,9883701,98414,6957,4449,3395,2541,9383,11890,43658,74849,81317,88218,112328,168354,294814,439154,560497,684085,760540,869521,1094373,1410414,1518877,1038826,506335,512,39872,11705,13184,33653,9982115,9982115
2011,10068239,96001,6702,4261,3356,2702,9831,11818,42405,76341,82352,92780,109994,169785,286891,446571,577444,716574,774305,886867,1089797,1416730,1536759,1097483,529954,536,96001,0,0,0,10164240,10164240
2012,10179324,94558,6518,4325,3288,2770,9359,11487,40321,76470,84025,94454,109557,167275,274066,444162,596260,722917,822440,907981,1088426,1394890,1538044,1137773,547370,588,94558,0,0,0,10273882,10273882
2013,10394669,93799,6651,4073,3011,2583,9742,11678,37940,76061,84280,97705,111390,167138,267509,443810,612294,740997,858541,960258,1110031,1391744,1558091,1177499,567315,529,93799,0,0,0,10488468,10488468
2014,10512858,92904,5844,3973,2967,2573,9450,11591,38378,76870,87791,101119,117432,166872,260304,443953,629165,767086,891900,995454,1129047,1370613,1527164,1202172,577584,652,92904,0,0,0,10605762,10605762
2015,10857286,93872,6376,4036,3118,2360,9629,12071,40765,81289,95645,110549,125743,166777,257648,440729,638726,793230,942447,1038793,1162414,1389594,1564080,1255906,620937,552,93872,0,0,0,10951158,10951158
2016,10983784,92709,6289,4191,3169,2562,9988,12083,43273,87097,108266,122339,141214,170189,262549,432019,648971,817705,987200,1062346,1180330,1368892,1538850,1243821,637184,548,92709,0,0,0,11076493,11076493
2017,11260771,89380,6072,3973,3094,2393,9430,12892,43571,84603,113169,127818,147693,171686,262956,418001,648770,840088,992918,1134760,1230743,1401967,1553492,1278532,682254,516,35841,12085,11361,30093,11350151,11350151

In [69]:
mortality_usa[mortality_usa['Cause']=='All_Causes']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2406767,2450.0,United States of America,NaN,NaN,2005,104,All_Causes,1,0.0,1.0,1207675,16018,1088,738,521,418,1556,2297,9886,15623,14242,15041,20011,33298,49279,65193,77988,87441,98412,124395,159114,176121,139812,75026,23958,199,6212,2129,2103,5574,1223693,1223693
2406768,2450.0,United States of America,NaN,NaN,2005,104,All_Causes,2,0.0,1.0,1240342,12422,827,506,354,304,1281,1468,3817,4908,5326,7316,11409,20067,30104,38954,49490,60382,73824,101724,148774,202656,211586,164680,88107,56,5145,1526,1655,4096,1252764,1252764
4113712,NaN,United States of America,NaN,NaN,2005,NaN,All_Causes,3,NaN,NaN,2448017,28440,1915,1244,875,722,2837,3765,13703,20531,19568,22357,31420,53365,79383,104147,127478,147823,172236,226119,307888,378777,351398,239706,112065,255,11357,3655,3758,9670,2476457,2476457
2414581,2450.0,United States of America,NaN,NaN,2006,104,All_Causes,1,0.0,8.0,1201984,15980,975,669,502,395,1551,2074,9918,16152,15182,15010,20132,32019,49019,66156,81375,87617,98724,119449,154234,173092,141814,75517,24257,171,15980,0,0,0,1217964,1217964
2414582,2450.0,United States of America,NaN,NaN,2006,104,All_Causes,2,0.0,8.0,1224315,12547,866,549,362,313,1184,1340,3821,4997,5716,7048,11369,19525,30249,39609,51683,60737,73161,98765,143480,196539,210299,162846,87261,49,12547,0,0,0,1236862,1236862
4118415,NaN,United States of America,NaN,NaN,2006,NaN,All_Causes,3,NaN,NaN,2426299,28527,1841,1218,864,708,2735,3414,13739,21149,20898,22058,31501,51544,79268,105765,133058,148354,171885,218214,297714,369631,352113,238363,111518,220,28527,0,0,0,2454826,2454826
2420957,2450.0,United States of America,NaN,NaN,2007,104,All_Causes,1,0.0,8.0,1204110,16293,1056,665,502,412,1519,2066,9559,15763,15112,14689,19764,30357,47913,66560,81602,92034,100505,117874,149683,171144,146124,77481,25277,156,16293,0,0,0,1220403,1220403
2420958,2450.0,United States of America,NaN,NaN,2007,104,All_Causes,2,0.0,8.0,1219785,12848,884,513,381,291,1192,1370,3742,4927,5825,6959,11127,18380,29837,40399,50875,62625,74501,96398,139362,192522,213112,162703,88967,45,12848,0,0,0,1232633,1232633
4122169,NaN,United States of America,NaN,NaN,2007,NaN,All_Causes,3,NaN,NaN,2423895,29141,1940,1178,883,703,2711,3436,13301,20690,20937,21648,30891,48737,77750,106959,132477,154659,175006,214272,289045,363666,359236,240184,114244,201,29141,0,0,0,2453036,2453036
2427313,2450.0,United States of America,NaN,NaN,2008,104,All_Causes,1,0.0,8.0,1226225,15677,1101,679,520,393,1396,1884,8958,15069,15001,14635,19104,28582,47339,67699,83423,96128,105403,120001,149212,172695,152355,82217,26660,94,15677,0,0,0,1241902,1241902
2427314,2450.0,United States of America,NaN,NaN,2008,104,All_Causes,2,0.0,8.0,1245759,12391,866,490,376,305,1106,1265,3449,4722,5785,6854,10760,17924,30078,41426,51285,65346,78047,98128,138158,193495,220197,169164,94098,44,12391,0,0,0,1258150,1258150
4125919,NaN,United States of America,NaN,NaN,2008,NaN,All_Causes,3,NaN,NaN,2471984,28068,1967,1169,896,698,2502,3149,12407,19791,20786,21489,29864,46506,77417,109125,134708,161474,183450,218129,287370,366190,372552,251381,120758,138,28068,0,0,0,2500052,2500052
2433655,2450.0,United States of America,NaN,NaN,2009,104,All_Causes,1,0.0,1.0,1217961,14744,973,659,501,376,1405,1858,8199,14167,14611,14667,18821,27824,46416,68507,85269,98990,107244,118636,143266,167831,152531,82714,27573,179,5808,1788,1902,5246,1232705,1232705
2433656,2450.0,United States of America,NaN,NaN,2009,104,All_Causes,2,0.0,1.0,1219981,11516,780,502,379,299,1131,1284,3354,4770,6053,7270,10739,17397,30062,42733,52536,66689,78597,96678,131773,184954,216632,162833,90942,78,4574,1436,1591,3915,1231497,1231497
2433657,2450.0,United States of America,NaN,NaN,2009,104,All_Causes,9,0.0,1.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,2,2
4129649,NaN,United States of America,NaN,NaN,2009,NaN,All_Causes,3,NaN,NaN,2437944,26260,1753,1161,880,675,2536,3142,11553,18937,20664,21937,29560,45221,76478,111240,137805,165679,185842,215314,275039,352785,369163,245547,118515,258,10382,3224,3493,9161,2464204,2464204
2440032,2450.0,United States of America,NaN,NaN,2010,104,All_Causes,1,0.0,1.0,1233052,13704,928,664,508,366,1330,1739,7880,13951,14468,14795,17648,25849,45000,67126,86829,102581,109575,120221,143041,168863,157719,88596,29582,89,5486,1666,1802,4750,1246756,1246756
2440033,2450.0,United States of America,NaN,NaN,2010,104,All_Causes,2,0.0,1.0,1236236,10886,808,446,339,268,1012,1227,3028,4746,5842,7239,10411,16209,28649,42592,53207,68347,80455,97014,130356,183487,221745,170948,96936,39,4482,1260,1494,3650,1247122,1247122
4133387,NaN,United States of America,NaN,NaN,2010,NaN,All_Causes,3,NaN,NaN,2469288,24590,1736,1110,847,634,2342,2966,10908,18697,20310,22034,28059,42058,73649,109718,140036,170928,190030,217235,273397,352350,379464,259544,126518,128,9968,2926,3296,8400,2493878,2493878
2446384,2450.0,United States of America,NaN,NaN,2011,104,All_Causes,1,0.0,8.0,1254978,13327,918,619,492,376,1380,1799,7618,14306,14692,15393,17353,25862,43514,68195,89129,107512,111373,122903,142371,170322,159865,94374,31186,99,13327,0,0,0,1268305,1268305
2446385,2450.0,United States of America,NaN,NaN,2011,104,All_Causes,2,0.0,8.0,1260480,10658,754,444,345,298,1071,1151,2976,4767,5880,7783,10125,16553,28160,43378,55143,71531,82102,98674,129905,183627,224047,179839,101234,35,10658,0,0,0,1271138,1271138
4137143,NaN,United States of America,NaN,NaN,2011,NaN,All_Causes,3,NaN,NaN,2515458,23985,1672,1063,837,674,2451,2950,10594,19073,20572,23176,27478,42415,71674,111573,144272,179043,193475,221577,272276,353949,383912,274213,132420,134,23985,0,0,0,2539443,2539443
2452575,2450.0,United States of America,NaN,NaN,2012,104,All_Causes,1,0.0,8.0,1273720,13139,900,620,461,414,1318,1716,7224,14232,14951,15832,17368,25561,41387,67827,91743,109208,118915,126020,142424,168257,161326,99249,33528,100,13139,0,0,0,1286859,1286859
2452576,2450.0,United States of America,NaN,NaN,2012,104,All_Causes,2,0.0,8.0,1269559,10490,727,459,359,278,1016,1150,2850,4876,6041,7767,10004,16229,27092,43157,57235,71420,86575,100836,129512,180235,222936,185024,103244,47,10490,0,0,0,1280049,1280049
4140781,NaN,United States of America,NaN,NaN,2012,NaN,All_Causes,3,NaN,NaN,2543279,23629,1627,1079,820,692,2334,2866,10074,19108,20992,23599,27372,41790,68479,110984,148978,180628,205490,226856,271936,348492,384262,284273,136772,147,23629,0,0,0,2566908,2566908
2458771,2450.0,United States of America,NaN,NaN,2013,104,All_Causes,1,0.0,8.0,1306031,13119,929,588,431,374,1382,1694,6759,14105,15023,16438,17544,25528,40531,67466,93996,112329,124324,133574,146166,169174,165286,104050,35126,95,13119,0,0,0,1319150,1319150
2458772,2450.0,United States of America,NaN,NaN,2013,104,All_Causes,2,0.0,8.0,1290962,10321,728,427,320,271,1045,1219,2721,4901,6033,7969,10277,16224,26302,43425,58985,72817,90185,106346,131148,178525,223972,190137,106627,37,10321,0,0,0,1301283,1301283
4144410,NaN,United States of America,NaN,NaN,2013,NaN,All_Causes,3,NaN,NaN,2596993,23440,1657,1015,751,645,2427,2913,9480,19006,21056,24407,27821,41752,66833,110891,152981,185146,214509,239920,277314,347699,389258,294187,141753,132,23440,0,0,0,2620433,2620433
2464980,2450.0,United States of America,NaN,NaN,2014,104,All_Causes,1,0.0,8.0,1328239,12886,793,566,429,384,1357,1770,6827,14289,15619,17078,18500,25193,39281,67096,95992,116206,129802,138846,149259,167171,164609,107387,36789,110,12886,0,0,0,1341125,1341125
2464981,2450.0,United States of America,NaN,NaN,2014,104,All_Causes,2,0.0,8.0,1298179,10329,663,425,312,258,1000,1123,2759,4916,6306,8174,10825,16478,25735,43805,61178,75432,93032,109861,132813,175261,216930,192979,107532,53,10329,0,0,0,1308508,1308508
4148058,NaN,United States of America,NaN,NaN,2014,NaN,All_Causes,3,NaN,NaN,2626418,23215,1456,991,741,642,2357,2893,9586,19205,21925,25252,29325,41671,65016,110901,157170,191638,222834,248707,282072,342432,381539,300366,144321,163,23215,0,0,0,2649633,2649633
2471219,2450.0,United States of America,NaN,NaN,2015,104,All_Causes,1,0.0,8.0,1373404,13008,913,565,462,341,1377,1776,7187,15159,17173,18608,20190,25480,38807,66740,97172,120454,137630,144717,153719,170127,168932,112676,40096,95,13008,0,0,0,1386412,1386412
2471220,2450.0,United States of America,NaN,NaN,2015,104,All_Causes,2,0.0,8.0,1339226,10447,678,442,316,248,1025,1233,2999,5149,6725,9011,11227,16191,25570,43377,62417,77742,97852,114817,136686,177034,221815,201120,115062,43,10447,0,0,0,1349673,1349673
4151723,NaN,United States of America,NaN,NaN,2015,NaN,All_Causes,3,NaN,NaN,2712630,23455,1591,1007,778,589,2402,3009,10186,20308,23898,27619,31417,41671,64377,110117,159589,198196,235482,259534,290405,347161,390747,313796,155158,138,23455,0,0,0,2736085,2736085
2477590,2450.0,United States of America,NaN,NaN,2016,104,All_Causes,1,0.0,8.0,1400232,12867,874,572,468,342,1377,1764,7713,16300,19511,20746,22809,26406,39769,65317,98650,123734,144389,148353,156851,167968,168063,113337,41955,97,12867,0,0,0,1413099,1413099
2477591,2450.0,United States of America,NaN,NaN,2016,104,All_Causes,2,0.0,8.0,1344016,10294,694,474,323,298,1113,1249,3099,5463,7542,9817,12468,16109,25816,42614,63496,80565,102266,117072,138044,174053,216416,197434,117257,40,10294,0,0,0,1354310,1354310
4155465,NaN,United States of America,NaN,NaN,2016,NaN,All_Causes,3,NaN,NaN,2744248,23161,1568,1046,791,640,2490,3013,10812,21763,27053,30563,35277,42515,65585,107931,162146,204299,246655,265425,294895,342021,384479,310771,159212,137,23161,0,0,0,2767409,2767409
2484080,2450.0,United States of America,NaN,NaN,2017,104,All_Causes,1,0.0,1.0,1439111,12468,859,587,461,325,1299,1970,7849,15654,20385,21764,24105,26687,40223,63581,98387,126948,145258,158673,163505,173166,171951,117273,45642,91,4997,1712,1550,4209,1451579,1451579
2484081,2450.0,United States of America,NaN,NaN,2017,104,All_Causes,2,0.0,1.0,1374392,9867,658,405,312,273,1055,1247,3037,5485,7891,10175,12796,16208,25475,40863,63711,82960,102829,124850,143993,177095,216170,202170,124829,38,3963,1309,1290,3305,1384259,1384259
4159280,NaN,United States of America,NaN,NaN,2017,NaN,All_Causes,3,NaN,NaN,2813503,22335,1517,992,773,598,2354,3217,10886,21139,28276,31939,36901,42895,65698,104444,162098,209908,248087,283523,307498,350261,388121,319443,170471,129,8960,3021,2840,7514,2835838,2835838

In [70]:
mortality[mortality['Country/Region']=='Portugal']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
1800673,4240.0,Portugal,NaN,NaN,2005,UE1,All_Causes,1,9.0,9.0,55753,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55753
1800674,4240.0,Portugal,NaN,NaN,2005,UE1,All_Causes,2,9.0,9.0,52086,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52086
3726942,NaN,Portugal,NaN,NaN,2005,NaN,All_Causes,3,NaN,NaN,107839,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,107839
1800675,4240.0,Portugal,NaN,NaN,2005,UE1,CH01,1,9.0,9.0,1420,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1420
1800676,4240.0,Portugal,NaN,NaN,2005,UE1,CH01,2,9.0,9.0,820,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1830912,4240.0,Portugal,NaN,NaN,2017,104,Y899,1,0.0,1.0,45,0,0,0,0,0,0,0,0,0,0,1,0,3,1,3,2,2,5,7,2,8,5,3,3,0,0,0,0,0,45,45
1830913,4240.0,Portugal,NaN,NaN,2017,104,Y899,2,0.0,1.0,26,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2,6,7,7,1,0,0,0,0,0,26,26
3746551,NaN,Portugal,NaN,NaN,2017,NaN,Y899,3,NaN,NaN,71,0,0,0,0,0,0,0,0,0,0,1,0,4,1,3,2,3,5,8,4,14,12,10,4,0,0,0,0,0,71,71
1830914,4240.0,Portugal,NaN,NaN,2017,NaN,NaN,1,NaN,NaN,480,0,0,0,0,0,0,0,0,0,1,1,2,6,5,12,16,15,16,30,63,107,99,77,30,0,0,0,0,0,480,480
1830915,4240.0,Portugal,NaN,NaN,2017,NaN,NaN,2,NaN,NaN,485,0,0,0,0,0,0,0,0,1,1,0,1,4,2,3,1,4,12,18,36,84,130,129,59,0,0,0,0,0,485,485

In [71]:
len(mortality_usa['Cause'].unique())

6693

In [72]:
print(list(mortality_usa['Cause'].unique()))

['A020', 'A021', 'A029', 'A030', 'A033', 'A038', 'A039', 'A044', 'A045', 'A046', 'A047', 'A048', 'A049', 'A051', 'A053', 'A059', 'A064', 'A072', 'A073', 'A080', 'A081', 'A083', 'A084', 'A085', 'A09', 'A162', 'A165', 'A167', 'A169', 'A170', 'A178', 'A180', 'A181', 'A182', 'A183', 'A187', 'A188', 'A190', 'A199', 'A207', 'A239', 'A279', 'A280', 'A281', 'A282', 'A288', 'A309', 'A310', 'A318', 'A319', 'A321', 'A327', 'A328', 'A329', 'A35', 'A370', 'A379', 'A38', 'A390', 'A391', 'A392', 'A394', 'A398', 'A399', 'A400', 'A401', 'A402', 'A403', 'A408', 'A409', 'A410', 'A411', 'A412', 'A413', 'A414', 'A415', 'A418', 'A419', 'A420', 'A421', 'A429', 'A430', 'A438', 'A439', 'A46', 'A480', 'A481', 'A483', 'A488', 'A490', 'A491', 'A492', 'A493', 'A498', 'A499', 'A505', 'A509', 'A520', 'A521', 'A523', 'A527', 'A529', 'A539', 'A548', 'A630', 'A64', 'A691', 'A692', 'A770', 'A778', 'A78', 'A810', 'A811', 'A812', 'A819', 'A829', 'A830', 'A832', 'A833', 'A835', 'A839', 'A850', 'A858', 'A86', 'A870', 'A872', 'A879', 'A89', 'A90', 'A923', 'All_Causes', 'B002', 'B003', 'B004', 'B007', 'B008', 'B009', 'B011', 'B012', 'B019', 'B020', 'B021', 'B022', 'B023', 'B027', 'B029', 'B050', 'B150', 'B159', 'B162', 'B169', 'B171', 'B178', 'B181', 'B182', 'B189', 'B190', 'B199', 'B200', 'B201', 'B202', 'B203', 'B204', 'B205', 'B206', 'B207', 'B208', 'B209', 'B210', 'B211', 'B212', 'B213', 'B217', 'B218', 'B219', 'B220', 'B222', 'B227', 'B231', 'B232', 'B238', 'B24', 'B250', 'B251', 'B258', 'B259', 'B270', 'B279', 'B332', 'B333', 'B338', 'B340', 'B341', 'B343', 'B348', 'B349', 'B360', 'B370', 'B371', 'B372', 'B374', 'B375', 'B376', 'B377', 'B378', 'B379', 'B380', 'B382', 'B384', 'B387', 'B389', 'B392', 'B393', 'B399', 'B402', 'B403', 'B407', 'B409', 'B429', 'B440', 'B441', 'B447', 'B448', 'B449', 'B450', 'B451', 'B457', 'B459', 'B460', 'B461', 'B464', 'B465', 'B468', 'B469', 'B479', 'B488', 'B49', 'B500', 'B509', 'B54', 'B572', 'B573', 'B582', 'B588', 'B589', 'B59', 'B600', 'B602', 'B659', 'B690', 'B699', 'B787', 'B789', 'B829', 'B879', 'B89', 'B909', 'B91', 'B941', 'B942', 'B948', 'B949', 'B99', 'C001', 'C009', 'C01', 'C024', 'C029', 'C030', 'C031', 'C039', 'C049', 'C050', 'C051', 'C052', 'C058', 'C059', 'C060', 'C062', 'C069', 'C07', 'C080', 'C081', 'C089', 'C090', 'C091', 'C099', 'C100', 'C101', 'C104', 'C109', 'C111', 'C119', 'C12', 'C130', 'C138', 'C139', 'C140', 'C142', 'C150', 'C151', 'C153', 'C155', 'C159', 'C160', 'C161', 'C162', 'C163', 'C164', 'C165', 'C166', 'C169', 'C170', 'C171', 'C172', 'C179', 'C180', 'C181', 'C182', 'C183', 'C184', 'C185', 'C186', 'C187', 'C189', 'C19', 'C20', 'C210', 'C211', 'C212', 'C218', 'C220', 'C221', 'C222', 'C223', 'C224', 'C227', 'C229', 'C23', 'C240', 'C241', 'C248', 'C249', 'C250', 'C251', 'C252', 'C253', 'C254', 'C257', 'C258', 'C259', 'C260', 'C261', 'C268', 'C269', 'C300', 'C301', 'C310', 'C311', 'C312', 'C313', 'C319', 'C320', 'C321', 'C322', 'C323', 'C329', 'C33', 'C340', 'C341', 'C342', 'C343', 'C348', 'C349', 'C37', 'C380', 'C381', 'C383', 'C384', 'C388', 'C390', 'C399', 'C400', 'C402', 'C403', 'C409', 'C410', 'C411', 'C412', 'C413', 'C414', 'C418', 'C419', 'C430', 'C431', 'C432', 'C433', 'C434', 'C435', 'C436', 'C437', 'C438', 'C439', 'C440', 'C441', 'C442', 'C443', 'C444', 'C445', 'C446', 'C447', 'C449', 'C450', 'C451', 'C452', 'C457', 'C459', 'C467', 'C469', 'C470', 'C471', 'C472', 'C474', 'C475', 'C479', 'C480', 'C481', 'C482', 'C490', 'C491', 'C492', 'C493', 'C494', 'C495', 'C496', 'C499', 'C500', 'C508', 'C509', 'C510', 'C519', 'C52', 'C530', 'C539', 'C540', 'C541', 'C549', 'C55', 'C56', 'C570', 'C574', 'C577', 'C578', 'C579', 'C58', 'C609', 'C61', 'C620', 'C629', 'C631', 'C632', 'C637', 'C639', 'C64', 'C65', 'C66', 'C671', 'C672', 'C675', 'C676', 'C677', 'C678', 'C679', 'C680', 'C689', 'C690', 'C691', 'C692', 'C693', 'C694', 'C695', 'C696', 'C699', 'C700', 'C701', 'C709', 'C710', 'C711', 'C712', 'C713', 'C714', 'C715', 'C716', 'C717', 'C718', 'C719', 'C720', 'C721', 'C723', 'C724', 'C725', 'C729', 'C73', 'C740', 'C741', 'C749', 'C750', 'C751', 'C752', 'C753', 'C754', 'C755', 'C758', 'C759', 'C760', 'C761', 'C762', 'C763', 'C764', 'C765', 'C767', 'C768', 'C770', 'C771', 'C772', 'C779', 'C780', 'C781', 'C782', 'C783', 'C785', 'C786', 'C787', 'C788', 'C790', 'C791', 'C792', 'C793', 'C794', 'C795', 'C796', 'C798', 'C80', 'C810', 'C811', 'C812', 'C813', 'C817', 'C819', 'C820', 'C821', 'C822', 'C827', 'C829', 'C830', 'C831', 'C832', 'C833', 'C834', 'C835', 'C836', 'C837', 'C838', 'C839', 'C840', 'C841', 'C842', 'C843', 'C844', 'C845', 'C850', 'C851', 'C857', 'C859', 'C880', 'C900', 'C901', 'C902', 'C910', 'C911', 'C913', 'C914', 'C915', 'C919', 'C920', 'C921', 'C922', 'C923', 'C924', 'C925', 'C927', 'C929', 'C930', 'C931', 'C939', 'C940', 'C942', 'C943', 'C945', 'C947', 'C950', 'C951', 'C957', 'C959', 'C961', 'C962', 'C967', 'C969', 'C97', 'D001', 'D002', 'D015', 'D020', 'D022', 'D038', 'D049', 'D051', 'D059', 'D071', 'D090', 'D103', 'D106', 'D110', 'D117', 'D119', 'D120', 'D122', 'D125', 'D126', 'D127', 'D128', 'D131', 'D132', 'D133', 'D134', 'D135', 'D136', 'D137', 'D140', 'D141', 'D143', 'D150', 'D151', 'D157', 'D164', 'D165', 'D166', 'D169', 'D174', 'D175', 'D177', 'D179', 'D180', 'D181', 'D190', 'D199', 'D201', 'D219', 'D235', 'D237', 'D239', 'D24', 'D259', 'D269', 'D27', 'D300', 'D313', 'D314', 'D316', 'D320', 'D321', 'D329', 'D330', 'D331', 'D332', 'D333', 'D334', 'D339', 'D34', 'D350', 'D351', 'D352', 'D354', 'D361', 'D367', 'D369', 'D370', 'D371', 'D372', 'D373', 'D374', 'D375', 'D376', 'D377', 'D379', 'D380', 'D381', 'D382', 'D383', 'D384', 'D385', 'D386', 'D390', 'D391', 'D392', 'D397', 'D399', 'D400', 'D401', 'D409', 'D410', 'D412', 'D413', 'D414', 'D419', 'D420', 'D429', 'D430', 'D431', 'D432', 'D433', 'D434', 'D437', 'D439', 'D440', 'D441', 'D443', 'D444', 'D445', 'D446', 'D447', 'D448', 'D449', 'D45', 'D461', 'D462', 'D464', 'D467', 'D469', 'D471', 'D472', 'D473', 'D477', 'D479', 'D480', 'D481', 'D482', 'D483', 'D484', 'D485', 'D486', 'D487', 'D489', 'D500', 'D508', 'D509', 'D510', 'D519', 'D529', 'D530', 'D531', 'D539', 'D550', 'D560', 'D561', 'D562', 'D568', 'D569', 'D570', 'D571', 'D572', 'D573', 'D580', 'D582', 'D589', 'D591', 'D593', 'D594', 'D595', 'D599', 'D609', 'D610', 'D613', 'D619', 'D62', 'D641', 'D643', 'D648', 'D649', 'D65', 'D66', 'D67', 'D680', 'D682', 'D684', 'D688', 'D689', 'D690', 'D691', 'D692', 'D693', 'D694', 'D695', 'D696', 'D698', 'D699', 'D70', 'D71', 'D720', 'D721', 'D728', 'D729', 'D730', 'D731', 'D732', 'D733', 'D735', 'D738', 'D739', 'D750', 'D751', 'D752', 'D758', 'D759', 'D760', 'D761', 'D762', 'D763', 'D800', 'D801', 'D802', 'D803', 'D804', 'D808', 'D809', 'D813', 'D819', 'D820', 'D821', 'D823', 'D839', 'D841', 'D848', 'D849', 'D860', 'D868', 'D869', 'D890', 'D891', 'D892', 'D898', 'D899', 'E011', 'E031', 'E032', 'E034', 'E035', 'E039', 'E041', 'E042', 'E049', 'E050', 'E052', 'E055', 'E058', 'E059', 'E063', 'E065', 'E069', 'E079', 'E100', 'E101', 'E102', 'E103', 'E104', 'E105', 'E106', 'E107', 'E109', 'E110', 'E111', 'E112', 'E113', 'E114', 'E115', 'E116', 'E117', 'E118', 'E119', 'E131', 'E135', 'E139', 'E140', 'E141', 'E142', 'E143', 'E144', 'E145', 'E146', 'E147', 'E148', 'E149', 'E15', 'E160', 'E161', 'E162', 'E164', 'E209', 'E210', 'E213', 'E214', 'E215', 'E220', 'E222', 'E230', 'E232', 'E233', 'E236', 'E237', 'E242', 'E249', 'E250', 'E260', 'E268', 'E269', 'E270', 'E271', 'E272', 'E274', 'E278', 'E279', 'E282', 'E291', 'E310', 'E320', 'E340', 'E342', 'E343', 'E348', 'E349', 'E40', 'E41', 'E42', 'E43', 'E440', 'E45', 'E46', 'E511', 'E512', 'E519', 'E538', 'E539', 'E550', 'E559', 'E611', 'E615', 'E630', 'E639', 'E640', 'E648', 'E65', 'E660', 'E662', 'E668', 'E669', 'E701', 'E702', 'E703', 'E711', 'E713', 'E720', 'E721', 'E722', 'E723', 'E724', 'E725', 'E728', 'E729', 'E730', 'E740', 'E742', 'E743', 'E744', 'E748', 'E750', 'E751', 'E752', 'E754', 'E755', 'E756', 'E760', 'E761', 'E762', 'E763', 'E770', 'E771', 'E778', 'E779', 'E780', 'E781', 'E782', 'E784', 'E785', 'E786', 'E788', 'E789', 'E790', 'E791', 'E802', 'E804', 'E807', 'E830', 'E831', 'E833', 'E834', 'E835', 'E838', 'E840', 'E841', 'E848', 'E849', 'E850', 'E851', 'E852', 'E854', 'E858', 'E859', 'E86', 'E870', 'E871', 'E872', 'E873', 'E874', 'E875', 'E876', 'E877', 'E878', 'E880', 'E881', 'E888', 'E889', 'F010', 'F011', 'F013', 'F018', 'F019', 'F03', 'F051', 'F058', 'F059', 'F063', 'F068', 'F069', 'F070', 'F071', 'F072', 'F09', 'F100', 'F101', 'F102', 'F103', 'F104', 'F106', 'F107', 'F108', 'F109', 'F111', 'F112', 'F113', 'F119', 'F129', 'F133', 'F139', 'F140', 'F141', 'F142', 'F143', 'F149', 'F150', 'F151', 'F152', 'F154', 'F159', 'F160', 'F161', 'F163', 'F169', 'F170', 'F171', 'F172', 'F177', 'F179', 'F181', 'F191', 'F192', 'F193', 'F195', 'F199', 'F200', 'F202', 'F203', 'F204', 'F205', 'F209', 'F220', 'F232', 'F239', 'F258', 'F259', 'F29', 'F308', 'F309', 'F311', 'F312', 'F319', 'F320', 'F322', 'F323', 'F328', 'F329', 'F332', 'F339', 'F341', 'F39', 'F410', 'F411', 'F412', 'F419', 'F429', 'F431', 'F432', 'F439', 'F442', 'F444', 'F448', 'F453', 'F458', 'F480', 'F488', 'F489', 'F500', 'F502', 'F505', 'F508', 'F509', 'F54', 'F55', 'F600', 'F639', 'F681', 'F709', 'F719', 'F729', 'F739', 'F799', 'F812', 'F819', 'F82', 'F840', 'F842', 'F849', 'F89', 'F919', 'F988', 'F99', 'G000', 'G001', 'G002', 'G003', 'G008', 'G009', 'G030', 'G031', 'G039', 'G040', 'G041', 'G042', 'G048', 'G049', 'G060', 'G061', 'G062', 'G08', 'G09', 'G10', 'G111', 'G112', 'G113', 'G114', 'G118', 'G119', 'G120', 'G121', 'G122', 'G129', 'G20', 'G210', 'G211', 'G218', 'G219', 'G230', 'G231', 'G232', 'G238', 'G239', 'G241', 'G243', 'G244', 'G248', 'G249', 'G250', 'G253', 'G255', 'G258', 'G259', 'G300', 'G301', 'G308', 'G309', 'G310', 'G311', 'G312', 'G318', 'G319', 'G35', 'G360', 'G361', 'G371', 'G372', 'G373', 'G378', 'G379', 'G400', 'G402', 'G403', 'G404', 'G405', 'G406', 'G409', 'G410', 'G419', 'G438', 'G439', 'G450', 'G459', 'G470', 'G473', 'G474', 'G479', 'G500', 'G510', 'G521', 'G522', 'G523', 'G528', 'G529', 'G542', 'G545', 'G579', 'G587', 'G588', 'G589', 'G600', 'G601', 'G602', 'G603', 'G608', 'G609', 'G610', 'G618', 'G619', 'G620', 'G621', 'G628', 'G629', 'G700', 'G702', 'G708', 'G709', 'G710', 'G711', 'G712', 'G713', 'G718', 'G719', 'G720', 'G721', 'G722', 'G723', 'G724', 'G728', 'G729', 'G800', 'G801', 'G802', 'G803', 'G808', 'G809', 'G811', 'G819', 'G821', 'G822', 'G823', 'G824', 'G825', 'G831', 'G834', 'G838', 'G839', 'G900', 'G901', 'G903', 'G908', 'G909', 'G910', 'G911', 'G912', 'G918', 'G919', 'G92', 'G930', 'G931', 'G932', 'G933', 'G934', 'G935', 'G936', 'G937', 'G938', 'G939', 'G950', 'G951', 'G952', 'G958', 'G959', 'G960', 'G961', 'G968', 'G969', 'G98', 'H050', 'H052', 'H059', 'H103', 'H110', 'H118', 'H163', 'H269', 'H332', 'H342', 'H353', 'H355', 'H409', 'H440', 'H449', 'H492', 'H498', 'H499', 'H521', 'H540', 'H601', 'H602', 'H664', 'H669', 'H700', 'H701', 'H709', 'H810', 'H830', 'H905', 'I00', 'I011', 'I018', 'I019', 'I050', 'I051', 'I052', 'I058', 'I059', 'I060', 'I061', 'I062', 'I069', 'I070', 'I071', 'I078', 'I079', 'I080', 'I081', 'I082', 'I083', 'I088', 'I089', 'I090', 'I091', 'I098', 'I099', 'I10', 'I110', 'I119', 'I120', 'I129', 'I130', 'I131', 'I132', 'I139', 'I200', 'I201', 'I209', 'I210', 'I211', 'I212', 'I213', 'I214', 'I219', 'I220', 'I221', 'I229', 'I241', 'I248', 'I249', 'I250', 'I251', 'I252', 'I253', 'I254', 'I255', 'I258', 'I259', 'I260', 'I269', 'I270', 'I271', 'I272', 'I278', 'I279', 'I280', 'I281', 'I288', 'I289', 'I300', 'I301', 'I308', 'I309', 'I310', 'I311', 'I312', 'I313', 'I319', 'I330', 'I339', 'I340', 'I341', 'I342', 'I348', 'I349', 'I350', 'I351', 'I352', 'I358', 'I359', 'I361', 'I368', 'I369', 'I370', 'I371', 'I378', 'I379', 'I38', 'I400', 'I401', 'I409', 'I420', 'I421', 'I422', 'I423', 'I424', 'I425', 'I426', 'I427', 'I428', 'I429', 'I440', 'I441', 'I442', 'I443', 'I447', 'I451', 'I452', 'I453', 'I454', 'I455', 'I456', 'I458', 'I459', 'I461', 'I469', 'I470', 'I471', 'I472', 'I479', 'I48', 'I490', 'I491', 'I493', 'I495', 'I498', 'I499', 'I500', 'I501', 'I509', 'I510', 'I511', 'I512', 'I513', 'I514', 'I515', 'I516', 'I517', 'I518', 'I519', 'I600', 'I601', 'I602', 'I605', 'I606', 'I607', 'I608', 'I609', 'I610', 'I611', 'I612', 'I613', 'I614', 'I615', 'I618', 'I619', 'I620', 'I621', 'I629', 'I630', 'I631', 'I632', 'I633', 'I634', 'I635', 'I638', 'I639', 'I64', 'I670', 'I671', 'I672', 'I673', 'I674', 'I675', 'I676', 'I677', 'I678', 'I679', 'I690', 'I691', 'I692', 'I693', 'I694', 'I698', 'I700', 'I701', 'I702', 'I708', 'I709', 'I710', 'I711', 'I712', 'I713', 'I714', 'I715', 'I716', 'I718', 'I719', 'I720', 'I722', 'I723', 'I724', 'I728', 'I729', 'I730', 'I731', 'I738', 'I739', 'I740', 'I741', 'I742', 'I743', 'I744', 'I745', 'I748', 'I749', 'I770', 'I771', 'I772', 'I773', 'I774', 'I776', 'I778', 'I779', 'I780', 'I781', 'I788', 'I789', 'I801', 'I802', 'I803', 'I808', 'I809', 'I81', 'I820', 'I821', 'I822', 'I823', 'I828', 'I829', 'I830', 'I831', 'I832', 'I839', 'I842', 'I848', 'I849', 'I850', 'I859', 'I862', 'I864', 'I868', 'I871', 'I872', 'I878', 'I879', 'I880', 'I889', 'I890', 'I891', 'I898', 'I899', 'I950', 'I951', 'I952', 'I958', 'I959', 'I99', 'J00', 'J010', 'J019', 'J020', 'J028', 'J029', 'J039', 'J040', 'J041', 'J042', 'J050', 'J051', 'J060', 'J069', 'J100', 'J101', 'J108', 'J110', 'J111', 'J118', 'J120', 'J121', 'J122', 'J128', 'J129', 'J13', 'J14', 'J150', 'J151', 'J152', 'J153', 'J154', 'J155', 'J156', 'J157', 'J158', 'J159', 'J160', 'J168', 'J180', 'J181', 'J182', 'J188', 'J189', 'J201', 'J202', 'J208', 'J209', 'J210', 'J218', 'J219', 'J22', 'J302', 'J304', 'J310', 'J320', 'J322', 'J323', 'J324', 'J329', 'J339', 'J348', 'J351', 'J358', 'J359', 'J36', 'J370', 'J380', 'J381', 'J382', 'J383', 'J384', 'J385', 'J386', 'J387', 'J390', 'J391', 'J392', 'J393', 'J398', 'J399', 'J40', 'J411', 'J42', 'J431', 'J432', 'J438', 'J439', 'J440', 'J441', 'J448', 'J449', 'J450', 'J451', 'J458', 'J459', 'J46', 'J47', 'J60', 'J61', 'J628', 'J630', 'J632', 'J634', 'J64', 'J65', 'J660', 'J668', 'J670', 'J671', 'J672', 'J677', 'J679', 'J680', 'J681', 'J682', 'J684', 'J688', 'J690', 'J691', 'J700', 'J701', 'J703', 'J708', 'J709', 'J80', 'J81', 'J82', 'J840', 'J841', 'J848', 'J849', 'J850', 'J851', 'J852', 'J853', 'J860', 'J869', 'J90', 'J920', 'J929', 'J930', 'J931', 'J938', 'J939', 'J940', 'J941', 'J942', 'J948', 'J949', 'J960', 'J961', 'J969', 'J980', 'J981', 'J982', 'J984', 'J985', 'J986', 'J988', 'J989', 'K029', 'K047', 'K051', 'K052', 'K056', 'K068', 'K069', 'K070', 'K076', 'K088', 'K089', 'K102', 'K112', 'K113', 'K117', 'K120', 'K121', 'K122', 'K130', 'K137', 'K20', 'K210', 'K219', 'K220', 'K221', 'K222', 'K223', 'K224', 'K225', 'K226', 'K228', 'K229', 'K250', 'K252', 'K253', 'K254', 'K255', 'K256', 'K257', 'K259', 'K260', 'K261', 'K263', 'K264', 'K265', 'K266', 'K267', 'K269', 'K270', 'K273', 'K274', 'K275', 'K276', 'K277', 'K279', 'K284', 'K285', 'K286', 'K289', 'K290', 'K291', 'K292', 'K294', 'K295', 'K296', 'K297', 'K298', 'K299', 'K30', 'K310', 'K311', 'K314', 'K315', 'K316', 'K317', 'K318', 'K319', 'K350', 'K351', 'K359', 'K37', 'K388', 'K389', 'K400', 'K401', 'K403', 'K404', 'K409', 'K413', 'K414', 'K419', 'K420', 'K421', 'K429', 'K430', 'K431', 'K439', 'K440', 'K441', 'K449', 'K450', 'K458', 'K460', 'K461', 'K469', 'K500', 'K501', 'K509', 'K510', 'K511', 'K512', 'K515', 'K518', 'K519', 'K520', 'K521', 'K528', 'K529', 'K550', 'K551', 'K552', 'K558', 'K559', 'K560', 'K561', 'K562', 'K563', 'K564', 'K565', 'K566', 'K567', 'K570', 'K571', 'K572', 'K573', 'K574', 'K578', 'K579', 'K589', 'K590', 'K591', 'K592', 'K593', 'K598', 'K599', 'K604', 'K610', 'K611', 'K621', 'K623', 'K624', 'K625', 'K626', 'K627', 'K628', 'K629', 'K630', 'K631', 'K632', 'K633', 'K634', 'K635', 'K638', 'K639', 'K650', 'K658', 'K659', 'K660', 'K661', 'K668', 'K669', 'K700', 'K701', 'K702', 'K703', 'K704', 'K709', 'K711', 'K716', 'K718', 'K719', 'K720', 'K721', 'K729', 'K732', 'K738', 'K739', 'K740', 'K741', 'K743', 'K744', 'K745', 'K746', 'K750', 'K753', 'K754', 'K758', 'K759', 'K760', 'K761', 'K763', 'K764', 'K765', 'K766', 'K767', 'K768', 'K769', 'K800', 'K801', 'K802', 'K803', 'K804', 'K805', 'K808', 'K810', 'K811', 'K818', 'K819', 'K820', 'K822', 'K823', 'K824', 'K828', 'K829', 'K830', 'K831', 'K832', 'K833', 'K838', 'K839', 'K85', 'K860', 'K861', 'K862', 'K863', 'K868', 'K869', 'K900', 'K901', 'K902', 'K904', 'K908', 'K909', 'K920', 'K921', 'K922', 'K928', 'K929', 'L00', 'L020', 'L021', 'L022', 'L023', 'L024', 'L028', 'L029', 'L030', 'L031', 'L032', 'L033', 'L038', 'L039', 'L041', 'L048', 'L050', 'L059', 'L088', 'L089', 'L100', 'L108', 'L109', 'L120', 'L121', 'L128', 'L129', 'L139', 'L209', 'L219', 'L26', 'L280', 'L299', 'L308', 'L309', 'L401', 'L403', 'L405', 'L408', 'L409', 'L509', 'L511', 'L512', 'L519', 'L538', 'L539', 'L559', 'L570', 'L605', 'L732', 'L739', 'L80', 'L819', 'L870', 'L88', 'L89', 'L905', 'L910', 'L929', 'L930', 'L940', 'L97', 'L982', 'L984', 'L985', 'L988', 'L989', 'M000', 'M009', 'M023', 'M050', 'M051', 'M052', 'M053', 'M059', 'M060', 'M061', 'M064', 'M069', 'M080', 'M082', 'M100', 'M103', 'M109', 'M112', 'M121', 'M122', 'M130', 'M131', 'M139', 'M159', 'M169', 'M179', 'M192', 'M199', 'M243', 'M245', 'M246', 'M255', 'M258', 'M259', 'M300', 'M301', 'M303', 'M310', 'M311', 'M313', 'M314', 'M316', 'M318', 'M319', 'M321', 'M328', 'M329', 'M330', 'M331', 'M332', 'M340', 'M341', 'M348', 'M349', 'M350', 'M351', 'M352', 'M353', 'M355', 'M356', 'M357', 'M358', 'M359', 'M402', 'M412', 'M413', 'M414', 'M418', 'M419', 'M430', 'M431', 'M432', 'M439', 'M45', 'M462', 'M463', 'M464', 'M469', 'M471', 'M478', 'M479', 'M480', 'M485', 'M488', 'M489', 'M500', 'M502', 'M503', 'M509', 'M510', 'M511', 'M512', 'M513', 'M519', 'M538', 'M541', 'M542', 'M543', 'M545', 'M548', 'M549', 'M600', 'M608', 'M609', 'M611', 'M615', 'M622', 'M623', 'M625', 'M626', 'M628', 'M629', 'M658', 'M659', 'M664', 'M674', 'M702', 'M703', 'M711', 'M719', 'M724', 'M726', 'M728', 'M729', 'M755', 'M758', 'M790', 'M792', 'M793', 'M796', 'M798', 'M799', 'M800', 'M808', 'M809', 'M818', 'M819', 'M839', 'M840', 'M841', 'M843', 'M844', 'M859', 'M861', 'M864', 'M866', 'M868', 'M869', 'M872', 'M873', 'M878', 'M879', 'M889', 'M890', 'M895', 'M898', 'M899', 'M919', 'M920', 'M921', 'M940', 'M941', 'M943', 'M948', 'M954', 'N009', 'N019', 'N028', 'N038', 'N039', 'N049', 'N051', 'N052', 'N053', 'N055', 'N057', 'N058', 'N059', 'N10', 'N110', 'N111', 'N119', 'N12', 'N130', 'N131', 'N132', 'N133', 'N134', 'N135', 'N136', 'N137', 'N138', 'N139', 'N140', 'N141', 'N142', 'N143', 'N144', 'N151', 'N159', 'N170', 'N171', 'N172', 'N178', 'N179', 'N180', 'N188', 'N189', 'N19', 'N200', 'N201', 'N209', 'N210', 'N211', 'N250', 'N251', 'N258', 'N26', 'N271', 'N279', 'N280', 'N281', 'N288', 'N289', 'N300', 'N301', 'N302', 'N304', 'N308', 'N309', 'N312', 'N319', 'N320', 'N321', 'N322', 'N324', 'N328', 'N329', 'N340', 'N359', 'N360', 'N363', 'N368', 'N390', 'N393', 'N394', 'N398', 'N399', 'N40', 'N410', 'N411', 'N412', 'N418', 'N419', 'N421', 'N428', 'N429', 'N44', 'N459', 'N481', 'N482', 'N483', 'N485', 'N488', 'N490', 'N491', 'N492', 'N498', 'N499', 'N501', 'N508', 'N509', 'N61', 'N63', 'N645', 'N649', 'N700', 'N709', 'N710', 'N719', 'N730', 'N731', 'N732', 'N735', 'N736', 'N738', 'N739', 'N750', 'N751', 'N760', 'N762', 'N764', 'N768', 'N800', 'N811', 'N813', 'N814', 'N816', 'N820', 'N821', 'N822', 'N823', 'N824', 'N829', 'N830', 'N831', 'N832', 'N838', 'N839', 'N840', 'N850', 'N851', 'N852', 'N857', 'N858', 'N859', 'N882', 'N883', 'N888', 'N889', 'N898', 'N899', 'N920', 'N921', 'N926', 'N938', 'N939', 'N948', 'N949', 'N950', 'N951', 'N952', 'O001', 'O009', 'O029', 'O036', 'O038', 'O039', 'O045', 'O048', 'O059', 'O065', 'O068', 'O074', 'O075', 'O078', 'O100', 'O101', 'O104', 'O13', 'O141', 'O149', 'O150', 'O152', 'O159', 'O16', 'O210', 'O223', 'O229', 'O230', 'O235', 'O240', 'O249', 'O25', 'O264', 'O266', 'O268', 'O269', 'O291', 'O300', 'O364', 'O411', 'O429', 'O441', 'O459', 'O460', 'O468', 'O469', 'O679', 'O690', 'O698', 'O711', 'O720', 'O721', 'O723', 'O753', 'O754', 'O758', 'O759

In [73]:
mortality_usa['List'].unique()

array(['104', nan], dtype=object)

In [74]:
mortality_usa[(mortality_usa['Cause'].str.contains('J1')) & (mortality_usa['Cause'].str.len()==3)]

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2409481,2450.0,United States of America,NaN,NaN,2005,104,J13,1,0.0,1.0,204,7,0,0,0,0,1,1,3,0,1,2,4,10,13,18,22,19,11,17,22,27,13,9,4,0,0,0,0,7,211,211
2409482,2450.0,United States of America,NaN,NaN,2005,104,J13,2,0.0,1.0,206,0,0,0,1,0,3,0,0,1,2,3,4,7,17,17,16,15,9,14,20,24,26,20,7,0,0,0,0,0,206,206
4115256,NaN,United States of America,NaN,NaN,2005,NaN,J13,3,NaN,NaN,410,7,0,0,1,0,4,1,3,1,3,5,8,17,30,35,38,34,20,31,42,51,39,29,11,0,0,0,0,7,417,417
2409483,2450.0,United States of America,NaN,NaN,2005,104,J14,1,0.0,1.0,22,3,0,0,0,0,0,0,0,0,0,0,0,0,3,0,5,1,0,1,4,3,2,0,0,0,0,0,0,3,25,25
2409484,2450.0,United States of America,NaN,NaN,2005,104,J14,2,0.0,1.0,20,2,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,2,2,3,5,1,1,0,0,0,0,2,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486931,2450.0,United States of America,NaN,NaN,2017,104,J13,2,0.0,1.0,144,0,0,1,0,0,0,0,0,1,2,3,4,3,11,10,10,8,14,9,11,19,13,17,8,0,0,0,0,0,144,144
4160903,NaN,United States of America,NaN,NaN,2017,NaN,J13,3,NaN,NaN,302,0,0,1,0,0,0,0,0,2,4,6,6,5,23,21,25,21,35,29,26,31,26,29,12,0,0,0,0,0,302,302
2486932,2450.0,United States of America,NaN,NaN,2017,104,J14,1,0.0,1.0,34,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,4,2,3,4,4,8,6,1,0,0,0,0,0,34,34
2486933,2450.0,United States of America,NaN,NaN,2017,104,J14,2,0.0,1.0,37,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,4,3,4,3,8,8,4,0,0,0,0,1,38,38
4160904,NaN,United States of America,NaN,NaN,2017,NaN,J14,3,NaN,NaN,71,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,5,6,6,8,7,16,14,5,0,0,0,0,1,72,72

- U.S. does not have flu deaths data by J10 and J11 probably because they have different regulations regarding reporting flu deaths.

# Population

In [75]:
mortality['Country/Region'] = mortality['Country/Region'].astype('category')
mortality['Country'] = mortality['Country'].astype('category')
mortality['Year'] = mortality['Year'].astype('category')
mortality['Sex'] = mortality['Sex'].astype('category')
mortality['Cause'] = mortality['Cause'].astype('category')

In [76]:
all_causes = mortality[mortality['Cause']=='All_Causes']

In [77]:
all_causes = all_causes[all_causes['Sex']==3]

In [78]:
all_causes[all_causes['Country/Region']=='Aruba']

,Country,Country/Region,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,Deaths_all_ages,Deaths_all_ages_
2606957,NaN,Aruba,NaN,NaN,2005,NaN,All_Causes,3,NaN,NaN,491,4,1,0,1,0,0,0,3,3,10,12,9,13,21,25,37,34,50,59,55,65,55,25,8,1,0,3,0,1,495,495
2607124,NaN,Aruba,NaN,NaN,2006,NaN,All_Causes,3,NaN,NaN,530,6,2,0,0,0,0,1,5,4,8,7,11,14,13,24,24,48,65,73,60,61,60,31,13,0,1,0,0,5,536,536
2607276,NaN,Aruba,NaN,NaN,2007,NaN,All_Causes,3,NaN,NaN,536,3,0,0,0,0,0,2,6,4,6,6,12,20,21,23,48,47,57,66,59,60,33,43,20,0,0,2,1,0,539,539
2607433,NaN,Aruba,NaN,NaN,2008,NaN,All_Causes,3,NaN,NaN,565,7,2,0,0,2,0,1,2,3,2,8,9,11,21,35,49,49,55,79,82,60,52,23,11,2,7,0,0,0,572,572
2607606,NaN,Aruba,NaN,NaN,2009,NaN,All_Causes,3,NaN,NaN,612,1,0,0,0,0,1,1,3,7,4,6,5,15,32,27,31,55,71,83,79,70,66,34,21,0,0,1,0,0,613,613
2607799,NaN,Aruba,NaN,NaN,2010,NaN,All_Causes,3,NaN,NaN,625,3,0,0,0,0,0,2,2,3,6,6,12,14,23,30,45,48,67,84,83,82,60,34,20,1,3,0,0,0,628,628
2607997,NaN,Aruba,NaN,NaN,2011,NaN,All_Causes,3,NaN,NaN,630,6,0,0,1,1,0,1,6,8,4,5,15,11,20,33,47,52,61,59,93,88,62,41,16,0,0,5,1,0,636,636
2608192,NaN,Aruba,NaN,NaN,2012,NaN,All_Causes,3,NaN,NaN,613,2,1,0,0,0,1,1,3,5,5,12,10,19,12,28,40,46,70,74,82,85,55,42,20,0,0,1,0,1,615,615
2608387,NaN,Aruba,NaN,NaN,2013,NaN,All_Causes,3,NaN,NaN,573,5,0,0,1,0,0,0,1,4,4,7,2,12,18,28,39,57,58,67,86,72,55,41,16,0,2,1,0,2,578,578
2608570,NaN,Aruba,NaN,NaN,2014,NaN,All_Causes,3,NaN,NaN,642,5,0,0,3,0,0,2,5,5,5,7,5,6,10,28,41,53,66,75,102,92,66,44,22,0,2,0,1,2,647,647
2608783,NaN,Aruba,NaN,NaN,2015,NaN,All_Causes,3,NaN,NaN,693,6,0,0,0,0,0,3,3,7,2,5,3,12,19,25,59,51,71,69,91,110,89,40,28,0,0,4,2,0,699,699
2609023,NaN,Aruba,NaN,NaN,2016,NaN,All_Causes,3,NaN,NaN,764,3,1,0,0,0,0,2,2,5,1,9,10,14,19,31,55,53,69,102,102,132,83,42,29,0,2,0,0,1,767,767

In [79]:
population

NameError: name 'population' is not defined

In [ ]:
population

In [ ]:
df = pd.merge(left=all_causes, right=population, how='left', on=['Country', 'Country/Region', 'Year'])
df

In [ ]:
df['Population'].isnull().sum()

In [ ]:
df[df['Country/Region']=='United States of America']

- it seems that merging on dataframe with less number of rows will work.

In [ ]:
pd.merge(left=population, right=all_causes, how='right', on=['Country', 'Country/Region', 'Year', 'Sex'])

In [ ]:
# somehow this doesn't work although it looks the same as the above.
pd.merge(left=all_causes, right=population, how='left', on=['Country', 'Country/Region', 'Year', 'Sex'])

In [ ]:
all_causes.merge(population, how='left', on=['Country', 'Country/Region', 'Year', 'Sex'])

In [ ]:
all_causes.merge(population, how='right', on=['Country', 'Country/Region', 'Year', 'Sex'])

In [ ]:
df[df['Country/Region']=='Aruba']

In [ ]:
left = pd.DataFrame({'Al': [1, 2], 'B': ['a', 'b']})
right = pd.DataFrame({'Ar': [4, 5, 6, 7], 'B': ['a',' c', 'b', 'a']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['B'], how='left')

In [ ]:
pd.merge(left, right, on=['B'], how='right')

In [ ]:
pd.concat([mortality, population], axis=1)

In [ ]:
df[df['Country/Region']=='Aruba']

In [ ]:
population[population['Country/Region']=='Andorra']

In [ ]:
mortality.info()

In [ ]:
mortality

In [ ]:
mortality['Death_ratio'] = mortality['Deaths1'] / mortality['Pop_all_ages']

In [ ]:
population[population['Country']==4303]

In [ ]:
resp = resp['Year'].astype(str).astype(int)

In [ ]:
resp

In [ ]:
respiratory = respiratory.drop('Cause', axis=1)
respiratory

In [ ]:
resp = respiratory.groupby(['Country/Region', 'Year']).sum().reset_index()
resp = resp.drop('Sex', axis=1)
resp

In [ ]:
respiratory_all_sex

In [ ]:
population

In [ ]:
ls_p = list(population['Country/Region'].unique())

In [ ]:
ls_r = list(respiratory_all_sex['Country/Region'].unique())

In [ ]:
ls = [i for i in ls_p if i in ls_r]
ls

In [ ]:
y_p = list(population['Year'].unique())
y_r = list(respiratory_all_sex['Year'].unique())
y = [i for i in y_p if i in y_r]
y

In [ ]:
population.info()

In [ ]:
respiratory_all_sex['Year'] = respiratory_all_sex['Year'].astype('str')

In [ ]:
respiratory_all_sex.info()
# = respiratory_all_sex['Year'].astype('category')

In [ ]:
# categoical data cannot be based upon to merge

In [ ]:
respiratory_all_sex['Country/Region'].replace('United States of America', 'United States', inplace=True )
resp = pd.merge(left=respiratory_all_sex, right=population, how='left', on=['Country/Region', 'Year'])
resp

In [ ]:
resp['Population'].isnull().sum()

In [ ]:
resp['Rate'] = resp['Deaths_all_ages_'] / resp['Population'] * 1e5

In [ ]:
resp['Rate'].isnull().sum()

In [ ]:
resp[resp['Country/Region']=='United States']

In [ ]:
population['Country/Region'].unique()

In [ ]:
fig = px.line(resp, x="Year", y="Rate", color="Country/Region",
              hover_name="Country/Region")
fig.show()

In [ ]:
res.sample(20)

In [ ]:
fig = px.line(res, x="Year", y="Rate", color="Country/Region",
              hover_name="Country/Region")
fig.show()