# Libraries

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 50)

In [3]:
divorce = pd.read_html('https://en.wikipedia.org/wiki/Divorce_demography')

AttributeError: 'list' object has no attribute 'to_csv'

In [7]:
divorce = divorce[0]

In [8]:
divorce.columns = ['Country/Region', 'Continent', 'Crude rate/Marriage', 'Crude rate/Divorce', 'Ratio/Actual', 'Ratio/Percent', 
'Data Source Year']

In [9]:
divorce[divorce['Country/Region']=='India']

Empty DataFrame
Columns: [Country/Region, Continent, Crude rate/Marriage, Crude rate/Divorce, Ratio/Actual, Ratio/Percent, Data Source Year]
Index: []

In [10]:
divorce.iloc[42:50, :]

,Country/Region,Continent,Crude rate/Marriage,Crude rate/Divorce,Ratio/Actual,Ratio/Percent,Data Source Year
42,Italy,Europe,3.4,1.6,2.13,47.06,(2016)[1]
43,Jamaica,North America,7.5,1.5,5.00,20.00,(2011)[3][4]
44,Japan (more info),Asia,4.8,1.7,2.82,35.42,(2019)[10]
45,Jordan,Asia,10.2,2.6,3.92,25.49,(2010)[3][4]
46,Kazakhstan,Asia,8.6,2.3,3.74,26.74,(2008)[3][4]
47,Kuwait,Asia,5.2,2.2,2.36,42.31,(2010)[3][4]
48,Kyrgyzstan,Asia,9.7,1.6,6.06,16.49,(2010)[3][4]
49,Latvia,Europe,6.6,3.1,2.13,46.97,(2016)[1]

In [11]:
divorce.to_csv('../data/raw/divorce.csv')

In [12]:
divorce.head()

,Country/Region,Continent,Crude rate/Marriage,Crude rate/Divorce,Ratio/Actual,Ratio/Percent,Data Source Year
0,Albania,Europe,7.8,1.9,4.11,24.36,(2016)[1]
1,Algeria,Africa,10.1,1.6,6.31,15.84,(2013)[2]
2,Armenia,Europe,6.0,1.0,6.00,16.67,(2011)[3][4]
3,Australia (more info),Oceania,4.6,2.0,2.30,43.48,(2017)[5]
4,Austria,Europe,5.1,1.8,2.83,35.29,(2016)[1]

In [13]:
divorce = divorce.drop([0, 1])

In [14]:
divorce = divorce.reset_index(drop=True)

In [15]:
divorce['Percent'] = divorce['Ratio/Percent']

In [16]:
divorce = divorce.drop(['Ratio/Percent'], axis=1)

In [17]:
divorce.head()

,Country/Region,Continent,Crude rate/Marriage,Crude rate/Divorce,Ratio/Actual,Data Source Year,Percent
0,Armenia,Europe,6.0,1.0,6.00,(2011)[3][4],16.67
1,Australia (more info),Oceania,4.6,2.0,2.30,(2017)[5],43.48
2,Austria,Europe,5.1,1.8,2.83,(2016)[1],35.29
3,Azerbaijan,Asia,9.7,1.5,6.47,(2011)[3][4],15.46
4,Bahamas,North America,6.1,1.0,6.10,(2007)[3][4],16.39

In [18]:
divorce = divorce[['Country/Region', 'Percent']]

In [19]:
divorce.sample(3)

       Country/Region  Percent
51          Lithuania    41.89
42  Japan (more info)    35.42
77           Slovakia    30.91

In [20]:
divorce['Country/Region'] = divorce['Country/Region'].apply(lambda x: x.split(' (')[0] if ' (' in x else x)

In [21]:
divorce

    Country/Region  Percent
0          Armenia    16.67
1        Australia    43.48
2          Austria    35.29
3       Azerbaijan    15.46
4          Bahamas    16.39
..             ...      ...
97   United States    44.62
98         Uruguay      NaN
99      Uzbekistan    14.10
100      Venezuela    36.36
101        Vietnam     7.02

[102 rows x 2 columns]

In [22]:
try:
    divorce.to_csv('../data/processed/divorce.csv', encoding='utf_8', index=False)
except:
    pass
divorce = pd.read_csv('../data/processed/divorce.csv')

In [23]:
divorce

    Country/Region  Percent
0          Armenia    16.67
1        Australia    43.48
2          Austria    35.29
3       Azerbaijan    15.46
4          Bahamas    16.39
..             ...      ...
97   United States    44.62
98         Uruguay      NaN
99      Uzbekistan    14.10
100      Venezuela    36.36
101        Vietnam     7.02

[102 rows x 2 columns]

In [ ]:
divorce.loc[divorce['Country/Region']=='India', 'Percent']